.linkFull {display:block; width:100%; height:100%; position:relative; cursor:pointer; float:left;}
.linkFullDiv {display:block; width:100%; height:100%; position:absolute; cursor:pointer; top:0; left:0; z-index:2;}

.clear {margin:0px!important; min-height:0px!important; min-width:0px!important; padding:0px!important;}

.block {display:block!important;}

.zi2 {z-index:2!important;}
.zi3 {z-index:3!important;}
.zi4 {z-index:4!important;}
.zi5 {z-index:5!important;}
.zi6 {z-index:6!important;}
.zi7 {z-index:7!important;}
.zi8 {z-index:8!important;}
.zi9 {z-index:9!important;}
.zi10 {z-index:10!important;}
.zi20 {z-index:20!important;}
.zi30 {z-index:30!important;}
.zi40 {z-index:40!important;}
.zi50 {z-index:50!important;}
.zi100 {z-index:100!important;}
.zi500 {z-index:500!important;}
.zi999 {z-index:999!important;}

.relative {position:relative!important;}
.absolute {position:absolute!important;}

.m0 {margin:0!important;}
.margin-0 {margin:0!important;}
.auto {margin:auto!important;}

.left {float:left!important;}
.right {float:right!important;}
.nofloat {float:none!important;}
.align-center {text-align: center!important;}
.align-left {text-align: left!important;}
.align-right {text-align: right!important;}

.h35 {height:35px!important;}
.h70 {height:70px!important;}
.h100p {height:100%!important;}

.w33p {width:33%!important; margin-right:1px!important;}
.w33pu {width:33%!important; float:right!important; margin-top:0px!important; margin-right:1px!important;}
.w50p {width:50%!important; margin-right:1px!important;}
.w50pu {width:50%!important; float:right!important; margin-top:0px!important; margin-right:1px!important;}
.w66p {width:66%!important; margin-right:1px!important;}
.w66pu {width:66%!important; float:right!important; margin-top:0px!important; margin-right:1px!important;}
.w98p {width:98%!important; margin-right:1px!important;}
.w100p {width:100%!important; margin-right:1px!important;}
.w100pu {width:100%!important; float:right!important; margin-top:0px!important; margin-right:1px!important;}

.w45 {width:45px!important;}
.w50 {width:50px!important;}
.w55 {width:55px!important;}
.w60 {width:60px!important;}
.w75 {width:75px!important;}
.w80 {width:80px!important;}
.w95 {width:95px!important;}
.w100 {width:100px!important;}
.w105 {width:105px!important;}
.w115 {width:115px!important;}
.w125 {width:125px!important;}
.w140 {width:140px!important;}
.w145 {width:145px!important;}
.w150 {width:150px!important;}
.w170 {width:170px!important;}
.w175 {width:175px!important;}
.w180 {width:180px!important;}
.w195 {width:195px!important;}
.w200 {width:200px!important;}
.w220 {width:220px!important;}
.w272 {width:272px!important;}
.w320 {width:320px!important;}
.w420 {width:420px!important;}
.w470 {width:470px!important;}
.w480 {width:480px!important;}
.w500 {width:500px!important;}
.w515 {width:515px!important;}
.w520 {width:520px!important;}
.w525 {width:525px!important;}
.w540 {width:540px!important;}
.w550 {width:550px!important;}
.w580 {width:580px!important;}
.w590 {width:590px!important;}
.w653 {width:653px!important;}
.w690 {width:690px!important;}

.tmargin-0 {margin-top:0px!important;}
.rmargin-0 {margin-right:0px!important;}
.bmargin-0 {margin-bottom:0px!important;}
.lmargin-0 {margin-left:0px!important;}
.tmargin-2 {margin-top:2px!important;}
.bmargin-2 {margin-bottom:2px!important;}
.rmargin-3 {margin-right:3px!important;}
.tmargin-4 {margin-top:4px!important;}
.bmargin-4 {margin-bottom:4px!important;}
.tmargin-5 {margin-top:5px!important;}
.lmargin-5 {margin-left:5px!important;}
.rmargin-5 {margin-right:5px!important;}
.bmargin-5 {margin-bottom:5px!important;}
.tmargin-10 {margin-top:10px!important;}
.lmargin-10 {margin-left:10px!important;}
.rmargin-10 {margin-right:10px!important;}
.bmargin-10 {margin-bottom:10px!important;}
.tmargin-20 {margin-top:20px!important;}
.lmargin-20 {margin-left:20px!important;}
.rmargin-20 {margin-right:20px!important;}
.bmargin-20 {margin-bottom:20px!important;}
.lmargin-25 {margin-left:25px!important;}
.lmargin-30 {margin-left:30px!important;}
.tmargin-40 {margin-top:40px!important;}
.lmargin-40 {margin-left:40px!important;}
.tmargin-50 {margin-top:50px!important;}
.tmargin-60 {margin-top:60px!important;}

.pad-2 {padding:2px!important;}
.pad-5 {padding:5px!important;}
.pad-10 {padding:10px!important;}
.rpad-0 {padding-right:0px!important;}
.lpad-0 {padding-left:0px!important;}
.tpad-0 {padding-top:0px!important;}
.bpad-0 {padding-bottom:0px!important;}
.rpad-5 {padding-right:5px!important;}
.lpad-5 {padding-left:5px!important;}
.tpad-5 {padding-top:5px!important;}
.bpad-5 {padding-bottom:5px!important;}
.rpad-10 {padding-right:10px!important;}
.lpad-10 {padding-left:10px!important;}
.tpad-10 {padding-top:10px!important;}
.bpad-10 {padding-bottom:10px!important;}
.rpad-15 {padding-right:15px!important;}
.lpad-15 {padding-left:15px!important;}
.tpad-15 {padding-top:15px!important;}
.bpad-15 {padding-bottom:15px!important;}
.rpad-20 {padding-right:20px!important;}
.lpad-20 {padding-left:20px!important;}
.tpad-20 {padding-top:20px!important;}
.bpad-20 {padding-bottom:20px!important;}
.tpad-30 {padding-top:30px!important;}
.lpad-40 {padding-left:40px!important;}
.tpad-40 {padding-top:40px!important;}
.lpad-50 {padding-left:50px!important;}
.tpad-50 {padding-top:50px!important;}
.lpad-55 {padding-left:55px!important;}
.lpad-60 {padding-left:60px!important;}
.tpad-60 {padding-top:60px!important;}
.tpad-80 {padding-top:80px!important;}
.tpad-100 {padding-top:100px!important;}

.hidden {display:none!important;}
.id {display:none!important;}

.pointer {cursor:pointer!important;}
.cursorPointer {cursor:pointer!important;}
.cursorDefault {cursor: default!important;}

.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.underline {text-decoration: underline;}
.italic {font-style: italic;}
.bold {font-weight: bold;}
.overline {text-decoration: overline;}
.line-through {text-decoration: line-through;}

.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.underline {text-decoration: underline;}
.italic {font-style: italic;}
.bold {font-weight: bold;}
.overline {text-decoration: overline;}
.line-through {text-decoration: line-through;}

.color-black {color: #000;}
.color-white {color: #fff;}

/* .no-opacity {opacity: 0;*filter: alpha(opacity = 0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";} */
.opacity-0 {opacity: 0;*filter: alpha(opacity = 0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
.opacity-25 {opacity: 0.25;*filter: alpha(opacity = 25); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";}
.opacity-50 {opacity: 0.50;*filter: alpha(opacity = 50); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
.opacity-75 {opacity: 0.75;*filter: alpha(opacity = 75); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";}
.opacity-100 {opacity: 1;*filter: alpha(opacity = 100); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}