/* line 64, ../sass/_base.scss */
* {
  outline: 0 none !important;
}

/* line 67, ../sass/_base.scss */
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

/* line 71, ../sass/_base.scss */
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", sans-serif;
  display: block;
}

/* line 79, ../sass/_base.scss */
body {
  height: 100%;
  overflow-x: hidden;
}

/* line 83, ../sass/_base.scss */
ul, li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: block;
}

/* line 84, ../sass/_base.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 85, ../sass/_base.scss */
form {
  margin: 0;
  padding: 0;
}

/* line 86, ../sass/_base.scss */
div, input, input:focus, textarea, textarea:focus, select, select:focus {
  outline: 0 none;
}

/* line 87, ../sass/_base.scss */
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

/* line 92, ../sass/_base.scss */
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #f100a5;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

/* line 98, ../sass/_base.scss */
.pageSize {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* line 101, ../sass/_base.scss */
.ajax-data {
  position: relative;
  float: left;
  display: block;
  min-height: 48px;
  width: 100%;
  z-index: 500;
  background: url("../img/loader-dark.gif") no-repeat center center;
}

/* line 108, ../sass/_base.scss */
.loader {
  position: relative;
  float: left;
  display: block;
  min-height: 48px;
  width: 100%;
  z-index: 500;
  margin: 50px auto;
  background: url("../img/loader-dark.gif") no-repeat center center;
}

/* line 117, ../sass/_base.scss */
.wrapper.withIScroll {
  height: 100%;
  width: 100%;
}
/* line 121, ../sass/_base.scss */
.wrapper.withIScroll .scroller {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 122, ../sass/_base.scss */
.wrapper.withIScroll .scroller ul {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
/* line 123, ../sass/_base.scss */
.wrapper.withIScroll .scroller li {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  float: left;
}
/* line 124, ../sass/_base.scss */
.wrapper.withIScroll .dragging {
  -webkit-user-drag: none !important;
}

/* line 129, ../sass/_base.scss */
main, header, footer, article, section {
  position: relative;
  float: left;
  display: block;
  width: 100%;
}

/* line 138, ../sass/_base.scss */
h1, h2, h3, h4, h5, small, .geo-field {
  text-transform: none;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

/* line 145, ../sass/_base.scss */
.mb-1 {
  margin-bottom: 1px;
}

/* line 148, ../sass/_base.scss */
.mt-1 {
  margin-top: 1px;
}

/* line 151, ../sass/_base.scss */
.ml-1 {
  margin-left: 1px;
}

/* line 154, ../sass/_base.scss */
.mr-1 {
  margin-right: 1px;
}

/* line 158, ../sass/_base.scss */
.mt-21 {
  margin-top: 21px;
}

/* line 162, ../sass/_base.scss */
hr {
  margin-bottom: 20px;
}

/* line 168, ../sass/_base.scss */
.loadie {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 0;
  height: 4px;
  z-index: 999999;
  -webkit-transition: width 0.1s ease-out;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

/* line 183, ../sass/_base.scss */
.sign {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 750;
  width: 45px;
  height: 11px;
  visibility: visible !important;
  opacity: 0.075;
  *filter: alpha(opacity=75);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=075)";
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
/* line 190, ../sass/_base.scss */
.sign .uzzye {
  width: 45px;
  height: 11px;
  background: url("../img/sign-black.png") no-repeat center center;
  background-size: contain;
}

/* line 197, ../sass/_base.scss */
.sign:hover {
  opacity: 1;
  *filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* line 203, ../sass/_base.scss */
.navbar .brand-img {
  max-height: 29px;
}

/* line 210, ../sass/_base.scss */
.preloader-it {
  background: none;
}

/* line 216, ../sass/_base.scss */
.error-frame {
  width: 100%;
  height: 100%;
  min-height: 100%;
  border: none;
  background: none;
  display: block;
}

/* line 227, ../sass/_base.scss */
.showOnLoad {
  opacity: 0;
  *filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/* line 233, ../sass/_base.scss */
.alinhamento {
  display: block;
  float: none;
  width: 80%;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  /* line 233, ../sass/_base.scss */
  .alinhamento {
    width: 80%;
    max-width: none;
  }
}
@media screen and (max-width: 575px) {
  /* line 233, ../sass/_base.scss */
  .alinhamento {
    width: 90%;
    max-width: none;
  }
}

/* line 251, ../sass/_base.scss */
.invisible {
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  visibility: hidden;
}

/* line 260, ../sass/_base.scss */
.grayscale {
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* line 265, ../sass/_base.scss */
.nofilter {
  filter: none;
  -webkit-filter: grayscale(0);
}

/*------------------------------------
- COLOR
------------------------------------*/
/* line 273, ../sass/_base.scss */
.alert {
  color: #c2fe42;
  background-color: #00f1ff;
  border-color: #00f1ff;
}

/* line 279, ../sass/_base.scss */
.alert hr {
  border-top-color: #00f1ff;
}

/* line 283, ../sass/_base.scss */
.alert .alert-link {
  color: #c2fe42;
}

/* line 287, ../sass/_base.scss */
.badge {
  color: #fff;
  background-color: #f100a5;
}

/* line 292, ../sass/_base.scss */
.badge[href]:hover, .badge[href]:focus {
  color: #fff;
  background-color: #f100a5;
}

/* line 297, ../sass/_base.scss */
.bg {
  background-color: #f100a5 !important;
}

/* line 301, ../sass/_base.scss */
a.bg:hover, a.bg:focus,
button.bg:hover,
button.bg:focus {
  background-color: #f100a5 !important;
}

/* line 307, ../sass/_base.scss */
.border {
  border-color: #f100a5 !important;
}

/* line 311, ../sass/_base.scss */
.btn {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 317, ../sass/_base.scss */
.btn:hover {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 323, ../sass/_base.scss */
.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 254, 66, 0.5);
}

/* line 327, ../sass/_base.scss */
.btn.disabled, .btn:disabled {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 333, ../sass/_base.scss */
.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active, .show > .btn.dropdown-toggle {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 339, ../sass/_base.scss */
.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus, .show > .btn.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 254, 66, 0.5);
}

/* line 343, ../sass/_base.scss */
.btn-outline {
  color: #f100a5;
  background-color: transparent;
  border-color: #f100a5;
}

/* line 349, ../sass/_base.scss */
.btn-outline:hover {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 355, ../sass/_base.scss */
.btn-outline:focus, .btn-outline.focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 254, 66, 0.5);
}

/* line 359, ../sass/_base.scss */
.btn-outline.disabled, .btn-outline:disabled {
  color: #f100a5;
  background-color: transparent;
}

/* line 364, ../sass/_base.scss */
.btn-outline:not(:disabled):not(.disabled):active, .btn-outline:not(:disabled):not(.disabled).active, .show > .btn-outline.dropdown-toggle {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 370, ../sass/_base.scss */
.btn-outline:not(:disabled):not(.disabled):active:focus, .btn-outline:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 254, 66, 0.5);
}

/* line 374, ../sass/_base.scss */
.list-group-item {
  color: #c2fe42;
  background-color: #00f1ff;
}

/* line 379, ../sass/_base.scss */
.list-group-item.list-group-item-action:hover, .list-group-item.list-group-item-action:focus {
  color: #c2fe42;
  background-color: #00f1ff;
}

/* line 384, ../sass/_base.scss */
.list-group-item.list-group-item-action.active {
  color: #fff;
  background-color: #c2fe42;
  border-color: #c2fe42;
}

/* line 390, ../sass/_base.scss */
.table,
.table > th,
.table > td {
  background-color: #00f1ff;
}

/* line 396, ../sass/_base.scss */
.table-hover .table:hover {
  background-color: #00f1ff;
}

/* line 400, ../sass/_base.scss */
.table-hover .table:hover > td,
.table-hover .table:hover > th {
  background-color: #00f1ff;
}

/* line 405, ../sass/_base.scss */
.text {
  color: #f100a5 !important;
}

/* line 409, ../sass/_base.scss */
a.text:hover, a.text:focus {
  color: #f100a5 !important;
}

/* Base */
/* line 5, ../sass/main.scss */
body {
  line-height: 1.7;
  color: #808285;
  font-weight: 400;
  font-size: 1rem;
}

/* line 11, ../sass/main.scss */
::-moz-selection {
  background: #000;
  color: #000;
}

/* line 15, ../sass/main.scss */
::selection {
  background: #000;
  color: #000;
}

/* line 19, ../sass/main.scss */
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #f100a5;
}

/* line 24, ../sass/main.scss */
a:hover {
  text-decoration: none;
  color: #000;
}

/* line 28, ../sass/main.scss */
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* line 32, ../sass/main.scss */
.border-2 {
  border-width: 2px;
}

/* line 35, ../sass/main.scss */
.text-black {
  color: #000 !important;
}

/* line 38, ../sass/main.scss */
.bg-black {
  background: #000 !important;
}

/* line 41, ../sass/main.scss */
.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

/* line 44, ../sass/main.scss */
.color-white-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

/* line 47, ../sass/main.scss */
.site-wrap:before {
  display: none;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

/* line 63, ../sass/main.scss */
.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2;
}

/* line 67, ../sass/main.scss */
.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

/* line 71, ../sass/main.scss */
.btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
}

/* line 75, ../sass/main.scss */
.btn:hover, .btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 79, ../sass/main.scss */
.btn.btn-primary {
  background: #f100a5;
  border-color: #f100a5;
  color: #000;
}

/* line 83, ../sass/main.scss */
.btn.btn-primary:hover {
  background: #000;
  border-color: #000;
  color: #fff !important;
}

/* line 87, ../sass/main.scss */
.btn.btn-primary.btn-black--hover:hover {
  background: #fff;
  color: #000 !important;
}

/* line 91, ../sass/main.scss */
.line-height-1 {
  line-height: 1 !important;
}

/* line 94, ../sass/main.scss */
.bg-black {
  background: #000;
}

/* line 97, ../sass/main.scss */
.form-control {
  height: 43px;
  border-radius: 30px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* line 101, ../sass/main.scss */
textarea.form-control {
  height: 143px;
}

/* line 104, ../sass/main.scss */
.form-control:active, .form-control:focus {
  border-color: #f100a5;
}

/* line 106, ../sass/main.scss */
.form-control:hover, .form-control:active, .form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 110, ../sass/main.scss */
.site-section {
  padding: 2.5em 0;
}

@media (min-width: 768px) {
  /* line 113, ../sass/main.scss */
  .site-section {
    padding: 5em 0;
  }
}
/* line 115, ../sass/main.scss */
.site-section.site-section-sm {
  padding: 4em 0;
}

/* line 118, ../sass/main.scss */
.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  /* line 124, ../sass/main.scss */
  .site-section-heading {
    font-size: 3rem;
  }
}
/* line 127, ../sass/main.scss */
.border-top {
  border-top: 1px solid #edf0f5 !important;
}

/* line 130, ../sass/main.scss */
.site-footer {
  padding: 4em 0;
  background: #333333;
}

@media (min-width: 768px) {
  /* line 134, ../sass/main.scss */
  .site-footer {
    padding: 8em 0;
  }
}
/* line 136, ../sass/main.scss */
.site-footer .border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

/* line 138, ../sass/main.scss */
.site-footer p {
  color: #737373;
}

/* line 140, ../sass/main.scss */
.site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
  color: #000;
}

/* line 142, ../sass/main.scss */
.site-footer a {
  color: #999999;
}

/* line 144, ../sass/main.scss */
.site-footer a:hover {
  color: white;
}

/* line 146, ../sass/main.scss */
.site-footer ul li {
  margin-bottom: 10px;
}

/* line 148, ../sass/main.scss */
.site-footer .footer-heading {
  font-size: 16px;
  color: #fff;
}

/* line 152, ../sass/main.scss */
.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

/* line 158, ../sass/main.scss */
.text-white-opacity-05 {
  color: rgba(0, 0, 0, 0.5);
}

/* line 161, ../sass/main.scss */
.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5);
}

/* line 164, ../sass/main.scss */
.hover-bg-enlarge {
  overflow: hidden;
  position: relative;
}

@media (max-width: 991.98px) {
  /* line 168, ../sass/main.scss */
  .hover-bg-enlarge {
    height: auto !important;
  }
}
/* line 170, ../sass/main.scss */
.hover-bg-enlarge > div {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .8s all ease-in-out;
  -o-transition: .8s all ease-in-out;
  transition: .8s all ease-in-out;
}

/* line 177, ../sass/main.scss */
.hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@media (max-width: 991.98px) {
  /* line 182, ../sass/main.scss */
  .hover-bg-enlarge .bg-image-md-height {
    height: 300px !important;
  }
}
/* line 185, ../sass/main.scss */
.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 190, ../sass/main.scss */
.bg-image.overlay {
  position: relative;
}

/* line 192, ../sass/main.scss */
.bg-image.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

/* line 202, ../sass/main.scss */
.bg-image > .container {
  position: relative;
  z-index: 1;
}

@media (max-width: 991.98px) {
  /* line 207, ../sass/main.scss */
  .img-md-fluid {
    max-width: 100%;
  }
}
@media (max-width: 991.98px) {
  /* line 211, ../sass/main.scss */
  .display-1, .display-3 {
    font-size: 3rem;
  }
}
/* line 214, ../sass/main.scss */
.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #000;
  color: #000 !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

/* line 225, ../sass/main.scss */
.play-single-big > span {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
}

/* line 233, ../sass/main.scss */
.play-single-big:hover {
  width: 120px;
  height: 120px;
}

/* line 237, ../sass/main.scss */
.overlap-to-top {
  margin-top: -150px;
}

/* line 240, ../sass/main.scss */
.ul-check {
  margin-bottom: 50px;
}

/* line 242, ../sass/main.scss */
.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}

/* line 247, ../sass/main.scss */
.ul-check li:before {
  left: 0;
  font-size: 20px;
  top: -.3rem;
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
}

/* line 254, ../sass/main.scss */
.ul-check.white li:before {
  color: #000;
}

/* line 256, ../sass/main.scss */
.ul-check.success li:before {
  color: #c2fe42;
}

/* line 258, ../sass/main.scss */
.ul-check.primary li:before {
  color: #f100a5;
}

/* line 261, ../sass/main.scss */
.select-wrap, .wrap-icon {
  position: relative;
}

/* line 263, ../sass/main.scss */
.select-wrap .icon, .wrap-icon .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 22px;
}

/* line 271, ../sass/main.scss */
.select-wrap select, .wrap-icon select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

/* Navbar */
/* line 278, ../sass/main.scss */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  background: #f100a5;
  width: 100%;
  border-bottom: rgba(0, 0, 0, 0.7);
}

/* line 286, ../sass/main.scss */
.site-navbar .site-logo {
  position: relative;
  left: 0;
  top: 0px;
}

/* line 292, ../sass/main.scss */
.logo {
  height: 90px;
  width: 127px;
  max-height: 100%;
  background-size: contain;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: left center;
}

/* line 301, ../sass/main.scss */
.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid #f3f3f4 !important;
}

/* line 303, ../sass/main.scss */
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

/* line 305, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .active {
  color: #f100a5;
  display: inline-block;
  padding: 5px 20px;
}

/* line 309, ../sass/main.scss */
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

/* line 312, ../sass/main.scss */
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}

/* line 314, ../sass/main.scss */
.site-navbar .site-navigation .site-menu > li > a {
  padding: 5px 20px;
  color: #000;
  display: inline-block;
  text-decoration: none !important;
}

/* line 319, ../sass/main.scss */
.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #f100a5;
}

/* line 321, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

/* line 323, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}

/* line 326, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}

/* line 336, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #f100a5;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #000;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

/* line 355, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

/* line 357, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 366, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #000;
  border-width: 10px;
  margin-left: -10px;
}

/* line 371, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}

/* line 378, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #f100a5 !important;
}

/* line 380, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

/* line 385, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}

/* line 388, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #f4f5f9;
  color: #25262a;
}

/* line 391, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px;
}

/* line 394, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}

/* line 397, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #f4f5f9;
  color: #25262a;
}

/* line 400, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #f100a5;
}

/* line 402, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

/* line 404, ../sass/main.scss */
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

/* line 412, ../sass/main.scss */
.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #000;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

/* line 428, ../sass/main.scss */
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

/* line 432, ../sass/main.scss */
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 437, ../sass/main.scss */
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

/* line 440, ../sass/main.scss */
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

/* line 450, ../sass/main.scss */
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}

/* line 452, ../sass/main.scss */
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

/* line 456, ../sass/main.scss */
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

/* line 459, ../sass/main.scss */
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

/* line 461, ../sass/main.scss */
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

/* line 463, ../sass/main.scss */
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

/* line 470, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* line 475, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #e0e0e0;
}

/* line 480, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap a:hover {
  color: #f100a5;
}

/* line 482, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

/* line 485, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap li .active {
  color: #f100a5;
}

/* line 487, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

/* line 497, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

/* line 499, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

/* line 513, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 517, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

/* line 522, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}

/* line 525, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 529, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

/* line 531, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

/* line 534, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

/* line 537, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

/* line 539, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

/* line 542, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

/* line 547, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}

/* line 549, ../sass/main.scss */
.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

/* line 552, ../sass/main.scss */
.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}

/* line 556, ../sass/main.scss */
.sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

/* line 560, ../sass/main.scss */
.sticky-wrapper .site-navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 562, ../sass/main.scss */
.sticky-wrapper .site-navbar .site-logo a {
  color: #000;
}

/* line 564, ../sass/main.scss */
.sticky-wrapper .site-navbar ul li a {
  color: rgba(0, 0, 0, 0.5) !important;
}

/* line 566, ../sass/main.scss */
.sticky-wrapper .site-navbar ul li a:hover {
  color: #000 !important;
}

/* line 568, ../sass/main.scss */
.sticky-wrapper .site-navbar ul li a.active {
  color: #000 !important;
}

/* line 570, ../sass/main.scss */
.sticky-wrapper.is-sticky .site-navbar {
  background: #f100a5;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

/* line 575, ../sass/main.scss */
.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #f100a5;
}

/* line 577, ../sass/main.scss */
.sticky-wrapper.is-sticky .site-navbar ul li a {
  color: rgba(0, 0, 0, 0.5) !important;
}

/* line 579, ../sass/main.scss */
.sticky-wrapper.is-sticky .site-navbar ul li a.active {
  color: #000 !important;
}

/* line 581, ../sass/main.scss */
.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* Blocks */
/* line 586, ../sass/main.scss */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center;
}

/* line 591, ../sass/main.scss */
.site-blocks-cover .overlay-shadow {
  z-index: -1;
}

/* line 594, ../sass/main.scss */
.site-blocks-cover.overlay {
  position: relative;
}

/* line 596, ../sass/main.scss */
.site-blocks-cover.overlay:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* line 604, ../sass/main.scss */
.site-blocks-cover .player {
  position: absolute;
  bottom: -250px;
  width: 100%;
}

/* line 608, ../sass/main.scss */
.site-blocks-cover, .site-blocks-cover > .container > .row {
  min-height: 600px;
  height: calc(100vh);
}

/* line 611, ../sass/main.scss */
.site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover > .container > .row {
  min-height: 400px;
  height: calc(20vh);
}

/* line 614, ../sass/main.scss */
.site-blocks-cover h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  font-weight: 900;
}

/* line 619, ../sass/main.scss */
.site-blocks-cover.blog-cover a {
  color: #f100a5 !important;
  font-weight: 900;
}

@media (max-width: 991.98px) {
  /* line 623, ../sass/main.scss */
  .site-blocks-cover h1 {
    font-size: 2rem;
  }
}
/* line 625, ../sass/main.scss */
.site-blocks-cover p {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

/* line 630, ../sass/main.scss */
.site-blocks-cover .intro-text {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 991.98px) {
  /* line 634, ../sass/main.scss */
  .site-blocks-cover .display-1 {
    font-size: 3rem;
  }
}
/* line 637, ../sass/main.scss */
.site-block-subscribe .btn {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 641, ../sass/main.scss */
.site-block-subscribe .form-control {
  font-weight: 300;
  border-color: #000 !important;
  height: 80px;
  font-size: 22px;
  color: #000;
  padding-left: 30px;
  padding-right: 30px;
}

/* line 649, ../sass/main.scss */
.site-block-subscribe .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.5);
  font-weight: 200;
  font-style: italic;
}

/* line 654, ../sass/main.scss */
.site-block-subscribe .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.5);
  font-weight: 200;
  font-style: italic;
}

/* line 659, ../sass/main.scss */
.site-block-subscribe .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.5);
  font-weight: 200;
  font-style: italic;
}

/* line 664, ../sass/main.scss */
.site-block-subscribe .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.5);
  font-weight: 200;
  font-style: italic;
}

/* line 670, ../sass/main.scss */
.bg-light {
  background: #000 !important;
}

/* line 673, ../sass/main.scss */
.site-blocks-vs .bg-image {
  padding-top: 3em;
  padding-bottom: 3em;
}

@media (min-width: 992px) {
  /* line 677, ../sass/main.scss */
  .site-blocks-vs .bg-image {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}
/* line 681, ../sass/main.scss */
.site-blocks-vs .image {
  width: 80px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
}

@media (max-width: 991.98px) {
  /* line 687, ../sass/main.scss */
  .site-blocks-vs .image {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
/* line 690, ../sass/main.scss */
.site-blocks-vs .image img {
  border-radius: 50%;
}

/* line 692, ../sass/main.scss */
.site-blocks-vs .image.image-small {
  width: 50px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}

/* line 698, ../sass/main.scss */
.site-blocks-vs .country {
  color: rgba(0, 0, 0, 0.7);
}

/* line 701, ../sass/main.scss */
.match-entry {
  position: relative;
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* line 707, ../sass/main.scss */
.match-entry .small {
  color: #ccc;
  font-weight: normal;
  letter-spacing: .15em;
}

/* line 711, ../sass/main.scss */
.match-entry:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 90;
  -webkit-box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1);
}

/* line 719, ../sass/main.scss */
.post-entry {
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e6e6;
}

/* line 723, ../sass/main.scss */
.post-entry, .post-entry .text {
  border-radius: 4px;
  border-top: none !important;
}

/* line 726, ../sass/main.scss */
.post-entry .date {
  color: #ccc;
  font-weight: normal;
  letter-spacing: .1em;
}

/* line 730, ../sass/main.scss */
.post-entry .image {
  overflow: hidden;
  position: relative;
}

/* line 733, ../sass/main.scss */
.post-entry .image img {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* line 740, ../sass/main.scss */
.post-entry:hover .image img, .post-entry:active .image img, .post-entry:focus .image img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 745, ../sass/main.scss */
.site-block-tab .nav-item {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0 20px;
}

/* line 749, ../sass/main.scss */
.site-block-tab .nav-item:first-child {
  margin-left: 0 !important;
}

/* line 751, ../sass/main.scss */
.site-block-tab .nav-item > a {
  padding-left: 0 !important;
  background: none !important;
  padding-right: 0 !important;
  border-bottom: 2px solid transparent;
  border-radius: 0 !important;
  font-weight: bold;
  color: #cccccc;
}

/* line 759, ../sass/main.scss */
.site-block-tab .nav-item > a:hover, .site-block-tab .nav-item > a.active {
  border-bottom: 2px solid #f100a5;
  color: #000;
}

/* line 763, ../sass/main.scss */
.block-13, .slide-one-item {
  position: relative;
  z-index: 1;
}

/* line 766, ../sass/main.scss */
.block-13 .owl-nav, .slide-one-item .owl-nav {
  position: relative;
  position: absolute;
  bottom: -90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 774, ../sass/main.scss */
.block-13 .owl-nav .owl-prev, .block-13 .owl-nav .owl-next, .slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
  position: relative;
  display: inline-block;
  padding: 20px;
  font-size: 30px;
  color: #000;
}

/* line 780, ../sass/main.scss */
.block-13 .owl-nav .owl-prev.disabled, .block-13 .owl-nav .owl-next.disabled, .slide-one-item .owl-nav .owl-prev.disabled, .slide-one-item .owl-nav .owl-next.disabled {
  opacity: .2;
}

/* line 783, ../sass/main.scss */
.slide-one-item.home-slider .owl-nav {
  position: absolute !important;
  top: 50% !important;
  bottom: auto !important;
  width: 100%;
}

@media (max-width: 991.98px) {
  /* line 789, ../sass/main.scss */
  .slide-one-item.home-slider .owl-nav {
    display: none;
  }
}
/* line 792, ../sass/main.scss */
.slide-one-item.home-slider .owl-prev {
  left: 10px !important;
}

/* line 795, ../sass/main.scss */
.slide-one-item.home-slider .owl-next {
  right: 10px !important;
}

/* line 798, ../sass/main.scss */
.slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
  color: #000;
  position: absolute !important;
  top: 50%;
  padding: 0px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  line-height: 0;
  text-align: center;
  font-size: 25px;
}

@media (min-width: 768px) {
  /* line 817, ../sass/main.scss */
  .slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
    font-size: 25px;
  }
}
/* line 819, ../sass/main.scss */
.slide-one-item.home-slider .owl-prev > span, .slide-one-item.home-slider .owl-next > span {
  position: absolute;
  line-height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 827, ../sass/main.scss */
.slide-one-item.home-slider .owl-prev:hover, .slide-one-item.home-slider .owl-prev:focus, .slide-one-item.home-slider .owl-next:hover, .slide-one-item.home-slider .owl-next:focus {
  background: black;
}

/* line 830, ../sass/main.scss */
.slide-one-item.home-slider:hover .owl-nav, .slide-one-item.home-slider:focus .owl-nav, .slide-one-item.home-slider:active .owl-nav {
  opacity: 10;
  visibility: visible;
}

/* line 834, ../sass/main.scss */
.slide-one-item .owl-dots {
  text-align: center;
}

/* line 836, ../sass/main.scss */
.slide-one-item .owl-dots .owl-dot {
  display: inline-block;
  margin: 4px;
}

/* line 839, ../sass/main.scss */
.slide-one-item .owl-dots .owl-dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #dee2e6;
}

/* line 845, ../sass/main.scss */
.slide-one-item .owl-dots .owl-dot.active span {
  background: #f100a5;
}

/* line 848, ../sass/main.scss */
.block-12 {
  position: relative;
}

/* line 850, ../sass/main.scss */
.block-12 figure {
  position: relative;
}

/* line 852, ../sass/main.scss */
.block-12 figure:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color100000', endColorstr='#cc000000',GradientType=0 );
}

/* line 865, ../sass/main.scss */
.block-12 .text-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 10;
}

/* line 871, ../sass/main.scss */
.block-12 .text-overlay h2 {
  color: #000;
}

/* line 873, ../sass/main.scss */
.block-12 .text {
  position: relative;
  top: -100px;
}

/* line 876, ../sass/main.scss */
.block-12 .text .meta {
  text-transform: uppercase;
  padding-left: 40px;
  color: #000;
  display: block;
  margin-bottom: 20px;
}

/* line 882, ../sass/main.scss */
.block-12 .text .text-inner {
  -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
  background: #000;
  padding: 10px;
  margin-right: 30px;
  position: relative;
}

@media (min-width: 576px) {
  /* line 890, ../sass/main.scss */
  .block-12 .text .text-inner {
    padding: 20px;
  }
}
@media (min-width: 768px) {
  /* line 893, ../sass/main.scss */
  .block-12 .text .text-inner {
    padding: 30px 40px;
  }
}
/* line 895, ../sass/main.scss */
.block-12 .text .text-inner:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 4px;
  margin-top: -4px;
  background: #f100a5;
  top: 0;
}

/* line 903, ../sass/main.scss */
.block-12 .text .text-inner .heading {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/* line 908, ../sass/main.scss */
.block-16 figure {
  position: relative;
}

/* line 910, ../sass/main.scss */
.block-16 figure .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 70px;
  height: 70px;
  background: #000;
  display: block;
  border-radius: 50%;
  opacity: 1;
  color: #f100a5 !important;
}

/* line 925, ../sass/main.scss */
.block-16 figure .play-button:hover {
  opacity: 1;
}

/* line 927, ../sass/main.scss */
.block-16 figure .play-button > span {
  position: absolute;
  left: 55%;
  top: 50%;
  -webkit-transform: translate(-60%, -50%);
  -ms-transform: translate(-60%, -50%);
  transform: translate(-60%, -50%);
}

/* line 935, ../sass/main.scss */
.block-25 ul, .block-25 ul li {
  padding: 0;
  margin: 0;
}

/* line 939, ../sass/main.scss */
.block-25 ul li a .image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
}

/* line 943, ../sass/main.scss */
.block-25 ul li a .image img {
  border-radius: 4px;
  max-width: 100%;
  opacity: 1;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

/* line 951, ../sass/main.scss */
.block-25 ul li a .text .heading {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #999999;
}

/* line 961, ../sass/main.scss */
.block-25 ul li a .meta {
  color: #f100a5;
}

/* line 964, ../sass/main.scss */
.block-25 ul li a:hover img {
  opacity: .5;
}

/* line 967, ../sass/main.scss */
.block-25 ul li a:hover .text .heading {
  color: #000;
}

/* line 970, ../sass/main.scss */
#date-countdown .countdown-block {
  color: #b3b3b3;
}

/* line 973, ../sass/main.scss */
#date-countdown .label {
  font-size: 40px;
  color: #000;
}

/* line 977, ../sass/main.scss */
.next-match .image {
  width: 50px;
  border-radius: 50%;
}

/* line 981, ../sass/main.scss */
.player {
  position: relative;
}

/* line 983, ../sass/main.scss */
.player img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* line 987, ../sass/main.scss */
.player .team-number {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #f100a5;
  border-radius: 50%;
  color: #000;
}

/* line 994, ../sass/main.scss */
.player .team-number > span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/* line 1001, ../sass/main.scss */
.player h2 {
  font-size: 20px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

/* line 1005, ../sass/main.scss */
.player .position {
  font-size: 14px;
  color: #b3b3b3;
  text-transform: uppercase;
}

/* line 1010, ../sass/main.scss */
.site-block-27 ul, .site-block-27 ul li {
  padding: 0;
  margin: 0;
}

/* line 1014, ../sass/main.scss */
.site-block-27 ul li {
  display: inline-block;
  margin-bottom: 4px;
}

/* line 1017, ../sass/main.scss */
.site-block-27 ul li a, .site-block-27 ul li span {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

/* line 1025, ../sass/main.scss */
.site-block-27 ul li.active a, .site-block-27 ul li.active span {
  background: #f100a5;
  color: #000;
  border: 1px solid transparent;
}

/* line 1030, ../sass/main.scss */
.site-block-feature-7 .icon {
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* line 1039, ../sass/main.scss */
.site-block-feature-7:hover .icon, .site-block-feature-7:focus .icon, .site-block-feature-7:active .icon {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 1044, ../sass/main.scss */
.unit-1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
}

/* line 1049, ../sass/main.scss */
.unit-1:after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color100000', endColorstr='#cc000000',GradientType=0 );
}

/* line 1063, ../sass/main.scss */
.unit-1 img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* line 1069, ../sass/main.scss */
.unit-1 img, .unit-1 .unit-1-text {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

/* line 1073, ../sass/main.scss */
.unit-1 .unit-1-text {
  z-index: 2;
  position: absolute;
  bottom: -90px;
  color: #000;
  display: block;
  width: 100%;
}

/* line 1080, ../sass/main.scss */
.unit-1 .unit-1-text .unit-1-heading {
  font-size: 1.5rem;
  position: relative;
}

/* line 1083, ../sass/main.scss */
.unit-1 p {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: rgba(0, 0, 0, 0.5);
}

/* line 1090, ../sass/main.scss */
.unit-1:hover p {
  opacity: 1;
  visibility: visible;
}

/* line 1093, ../sass/main.scss */
.unit-1:hover .unit-1-text {
  bottom: 30px;
}

/* line 1095, ../sass/main.scss */
.unit-1:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 1100, ../sass/main.scss */
.overlap-section {
  margin-top: -150px;
  position: relative;
  z-index: 9;
}

/* line 1105, ../sass/main.scss */
.unit-4 .unit-4-icon span {
  font-size: 3rem;
}

/* line 1108, ../sass/main.scss */
.unit-4 h3 {
  font-size: 20px;
}

/* line 1111, ../sass/main.scss */
.h-entry img {
  margin-bottom: 30px;
}

/* line 1114, ../sass/main.scss */
.h-entry .meta {
  color: #b3b3b3;
  font-size: 14px;
}

/* line 1118, ../sass/main.scss */
.h-entry h2 {
  font-size: 20px;
}

/* line 1121, ../sass/main.scss */
.overlap-left {
  margin-left: -100px;
}

@media (max-width: 991.98px) {
  /* line 1124, ../sass/main.scss */
  .overlap-left {
    margin-left: 0px;
  }
}
/* line 1127, ../sass/main.scss */
.overlap-section {
  margin-top: -100px;
}

/* line 1130, ../sass/main.scss */
.feature-1, .free-quote, .feature-3 {
  background: #f100a5;
  padding: 30px 50px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

/* line 1135, ../sass/main.scss */
.feature-1 .heading, .free-quote .heading, .feature-3 .heading {
  font-size: 22px;
  text-transform: uppercase;
  color: #000;
}

/* line 1139, ../sass/main.scss */
.feature-1 .icon, .free-quote .icon, .feature-3 .icon {
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  line-height: 80px;
  position: relative;
  border-radius: 50%;
  margin: 0 auto !important;
}

/* line 1147, ../sass/main.scss */
.feature-1 .icon > span, .free-quote .icon > span, .feature-3 .icon > span {
  font-size: 35px;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1157, ../sass/main.scss */
.free-quote {
  background: #d00e48;
}

/* line 1159, ../sass/main.scss */
.free-quote .form-control {
  border: 2px solid rgba(0, 0, 0, 0.5);
  background: none;
  color: #000;
}

/* line 1163, ../sass/main.scss */
.free-quote .form-control:active, .free-quote .form-control:focus {
  border: 2px solid #000;
}

/* line 1165, ../sass/main.scss */
.free-quote .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  font-style: italic;
}

/* line 1170, ../sass/main.scss */
.free-quote .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  font-style: italic;
}

/* line 1175, ../sass/main.scss */
.free-quote .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  font-style: italic;
}

/* line 1180, ../sass/main.scss */
.free-quote .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  font-style: italic;
}

/* line 1186, ../sass/main.scss */
.feature-3 {
  background: #c70e44;
}

/* line 1189, ../sass/main.scss */
.border-primary {
  position: relative;
}

/* line 1191, ../sass/main.scss */
.border-primary h2 {
  font-weight: 700 !important;
}

/* line 1193, ../sass/main.scss */
.border-primary:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 80px;
  height: 3px;
  background: #f100a5;
}

/* line 1200, ../sass/main.scss */
.border-primary.text-center:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 1205, ../sass/main.scss */
.border-primary.text-left:after {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

/* line 1210, ../sass/main.scss */
.testimonial {
  max-width: 800px;
  margin: 0 auto !important;
  text-align: center;
}

/* line 1214, ../sass/main.scss */
.testimonial blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

/* line 1217, ../sass/main.scss */
.testimonial figure img {
  max-width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

/* line 1222, ../sass/main.scss */
.breadcrumb-custom {
  font-size: 1rem !important;
}

/* line 1225, ../sass/main.scss */
.text-muted {
  color: #ccc !important;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 1230, ../sass/main.scss */
.how-it-work-item .number {
  width: 50px;
  height: 50px;
  background: #f100a5;
  color: #000;
  line-height: 55px;
  font-weight: 300;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
  margin-bottom: 40px;
}

/* line 1243, ../sass/main.scss */
.how-it-work-item h2 {
  font-size: 18px;
  margin-bottom: 30px;
  color: #000;
}

/* line 1248, ../sass/main.scss */
.how-it-work-item p {
  color: white;
}

/* line 1251, ../sass/main.scss */
.person h3 {
  font-size: 18px;
}

/* line 1254, ../sass/main.scss */
.ul-social-circle {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 1258, ../sass/main.scss */
.ul-social-circle li {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* line 1262, ../sass/main.scss */
.ul-social-circle li:first-child {
  margin-left: 0;
}

/* line 1264, ../sass/main.scss */
.ul-social-circle li span {
  width: 30px;
  height: 30px;
  background: #777;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  display: inline-block;
}

/* line 1273, ../sass/main.scss */
.ul-social-circle li a span {
  color: #000;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

/* line 1278, ../sass/main.scss */
.ul-social-circle li a:hover span {
  background: #2b2b2b;
  color: #000;
}

/* line 1282, ../sass/main.scss */
.custom-pagination a, .custom-pagination span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  background: #f100a5;
  color: #000;
}

/* line 1291, ../sass/main.scss */
.custom-pagination span {
  background: #e6e6e6;
  color: #000;
}

/* line 1295, ../sass/main.scss */
.custom-pagination .more-page {
  background: none;
  letter-spacing: .1em;
}

/* line 1299, ../sass/main.scss */
.form-search-wrap {
  background: #000;
  border-radius: 30px;
}

/* line 1302, ../sass/main.scss */
.form-search-wrap .form-control {
  border: none;
}

@media (max-width: 1199.98px) {
  /* line 1305, ../sass/main.scss */
  .form-search-wrap .form-control {
    height: 55px;
  }
}
/* line 1307, ../sass/main.scss */
.form-search-wrap .btn {
  border-radius: 30px;
  padding: 10px 30px;
}

@media (max-width: 1199.98px) {
  /* line 1311, ../sass/main.scss */
  .form-search-wrap .btn {
    width: 100% !important;
    display: block;
  }
}
/* line 1315, ../sass/main.scss */
.popular-category {
  background: #000;
  display: block;
  text-align: center;
  padding: 30px 10px;
  border-radius: 7px;
  background: #f8f9fa;
  position: relative;
}

/* line 1323, ../sass/main.scss */
.popular-category .icon {
  display: block;
  -webkit-transition: .1s all ease;
  -o-transition: .1s all ease;
  transition: .1s all ease;
}

/* line 1328, ../sass/main.scss */
.popular-category .icon > span {
  line-height: 0;
  font-size: 40px;
}

/* line 1331, ../sass/main.scss */
.popular-category .caption {
  color: #666666;
  -webkit-transition: .1s all ease;
  -o-transition: .1s all ease;
  transition: .1s all ease;
}

/* line 1336, ../sass/main.scss */
.popular-category .number {
  padding: 2px 20px;
  border-radius: 30px;
  display: inline-block;
  background: #e9ecef;
  color: #000;
  font-size: 14px;
  -webkit-transition: .1s all ease;
  -o-transition: .1s all ease;
  transition: .1s all ease;
}

/* line 1346, ../sass/main.scss */
.popular-category:hover {
  background: #f100a5;
  -webkit-box-shadow: 0 5px 30px -5px rgba(232, 16, 80, 0.5);
  box-shadow: 0 5px 30px -5px rgba(232, 16, 80, 0.5);
}

/* line 1350, ../sass/main.scss */
.popular-category:hover .caption {
  color: #000;
}

/* line 1352, ../sass/main.scss */
.popular-category:hover .icon {
  color: #000;
}

/* line 1354, ../sass/main.scss */
.popular-category:hover .number {
  background: #d00e48;
  color: #000;
}

@media (max-width: 1199.98px) {
  /* line 1359, ../sass/main.scss */
  .no-sm-border {
    border: none !important;
  }
}
/* line 1362, ../sass/main.scss */
.listing-item {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

/* line 1366, ../sass/main.scss */
.listing-item:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

/* line 1375, ../sass/main.scss */
.listing-item img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

/* line 1383, ../sass/main.scss */
.listing-item:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 1387, ../sass/main.scss */
.listing-item .listing-item-content {
  position: absolute;
  bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  width: 100%;
}

/* line 1394, ../sass/main.scss */
.listing-item .listing-item-content .category {
  font-size: 12px;
  display: inline-block;
  padding: 5px 30px;
  background: #f100a5;
  border-radius: 30px;
  color: #000;
  letter-spacing: .2em;
  text-transform: uppercase;
}

/* line 1403, ../sass/main.scss */
.listing-item .listing-item-content h2 {
  font-size: 22px;
}

/* line 1405, ../sass/main.scss */
.listing-item .listing-item-content h2, .listing-item .listing-item-content h2 a {
  color: #000;
}

/* line 1407, ../sass/main.scss */
.listing-item .listing-item-content span {
  color: #000;
}

/* line 1409, ../sass/main.scss */
.listing-item .listing-item-content .address {
  color: rgba(0, 0, 0, 0.8);
}

/* line 1411, ../sass/main.scss */
.listing-item .bookmark {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

/* line 1423, ../sass/main.scss */
.listing-item .bookmark span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1430, ../sass/main.scss */
.listing-item .bookmark:hover {
  background: #f100a5;
}

/* line 1432, ../sass/main.scss */
.listing-item .bookmark:hover span {
  color: #000;
}

/* line 1435, ../sass/main.scss */
.accordion-item[aria-expanded="true"] {
  color: #f100a5;
}

/* line 1438, ../sass/main.scss */
.social-media {
  display: inline-block;
  float: left;
  margin-bottom: 0px;
  padding: 0;
}

/* line 1443, ../sass/main.scss */
.social-media li {
  display: inline-block;
}

/* line 1446, ../sass/main.scss */
.ft-feature-1 {
  margin-bottom: 80px;
}

/* line 1448, ../sass/main.scss */
.ft-feature-1 .ft-feature-1-content {
  padding: 30px;
  position: relative;
  z-index: 10;
}

/* line 1452, ../sass/main.scss */
.ft-feature-1 h2, .ft-feature-1 h3 {
  font-size: 20px;
  color: #000;
}

/* line 1455, ../sass/main.scss */
.ft-feature-1 h3 {
  font-size: 18px;
}

/* line 1457, ../sass/main.scss */
.ft-feature-1 h3 .icon {
  font-size: 30px;
}

/* line 1459, ../sass/main.scss */
.ft-feature-1 a {
  color: #000;
  text-decoration: underline;
}

/* line 1462, ../sass/main.scss */
.ft-feature-1 a:hover {
  color: #000;
  text-decoration: none;
}

/* line 1465, ../sass/main.scss */
.ft-feature-1 .play {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f100a5;
  margin-right: 1.5rem;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  text-decoration: none !important;
}

/* line 1475, ../sass/main.scss */
.ft-feature-1 .play span {
  color: #000;
  display: inline;
}

/* line 1478, ../sass/main.scss */
.ft-feature-1 .img-feature {
  position: relative;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  /* line 1482, ../sass/main.scss */
  .ft-feature-1 .img-feature {
    margin-bottom: -80px;
  }
}
/* line 1484, ../sass/main.scss */
.ft-feature-1 p {
  color: #737373;
}

/* line 1487, ../sass/main.scss */
.box-with-humber {
  position: relative;
}

/* line 1489, ../sass/main.scss */
.box-with-humber .number-behind {
  font-size: 6rem;
  position: absolute;
  z-index: -1;
  top: -3rem;
  left: -3rem;
  font-weight: 900;
  color: #f2f4f5;
}

/* line 1497, ../sass/main.scss */
.box-with-humber h2 {
  font-size: 30px;
}

/* line 1499, ../sass/main.scss */
.box-with-humber h2 > span {
  font-size: 18px;
}

/* line 1502, ../sass/main.scss */
.media-1 {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
}

/* line 1507, ../sass/main.scss */
.media-1:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  content: "";
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
}

/* line 1520, ../sass/main.scss */
.media-1 img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

/* line 1526, ../sass/main.scss */
.media-1 .media-1-content {
  z-index: 4;
  top: 50%;
  position: absolute;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 1535, ../sass/main.scss */
.media-1 .media-1-content h2 {
  position: relative;
  color: #000;
  font-size: 1.5rem;
  -webkit-transition: .4s all ease-in-out;
  -o-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
  opacity: 0;
  visibility: hidden;
  bottom: -10px;
  margin-bottom: 0px;
}

/* line 1546, ../sass/main.scss */
.media-1 .media-1-content .category {
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  opacity: 0;
  bottom: -10px;
  visibility: hidden;
  color: #999999;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

/* line 1558, ../sass/main.scss */
.media-1:hover:after {
  opacity: 1;
  visibility: visible;
}

/* line 1561, ../sass/main.scss */
.media-1:hover h2 {
  bottom: 0px;
  opacity: 1;
  visibility: visible;
}

/* line 1565, ../sass/main.scss */
.media-1:hover .category {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
  -webkit-transition-delay: 0.09s;
  -o-transition-delay: 0.09s;
  transition-delay: 0.09s;
}

/* line 1572, ../sass/main.scss */
.media-1:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 1577, ../sass/main.scss */
.testimonial-wrap .owl-nav {
  display: none;
}

/* line 1580, ../sass/main.scss */
.section-sub-title {
  font-size: 13px;
  color: #f100a5;
  letter-spacing: .2em;
  text-transform: uppercase;
}

/* line 1586, ../sass/main.scss */
.section-title {
  color: #000;
  font-size: 40px;
  font-weight: 900;
}

@media (max-width: 991.98px) {
  /* line 1591, ../sass/main.scss */
  .section-title {
    font-size: 30px;
  }
}
/* line 1594, ../sass/main.scss */
.position-relative {
  position: relative;
}

/* line 1597, ../sass/main.scss */
.experience {
  position: absolute;
  bottom: -10px;
  right: -10px;
  background: #007bff;
  padding: 20px;
}

@media (max-width: 991.98px) {
  /* line 1604, ../sass/main.scss */
  .experience {
    bottom: 0px;
    right: 0px;
  }
}
/* line 1607, ../sass/main.scss */
.experience span {
  display: block;
}

/* line 1609, ../sass/main.scss */
.experience .year {
  font-weight: 900;
  color: #000;
  font-size: 3rem;
  letter-spacing: normal;
  line-height: 1.2;
}

/* line 1615, ../sass/main.scss */
.experience span {
  letter-spacing: .2em;
}

/* line 1617, ../sass/main.scss */
.experience .caption {
  color: #000;
  letter-spacing: .4em;
  text-transform: uppercase;
}

/* line 1622, ../sass/main.scss */
.footer-subscribe .btn {
  height: 43px;
}

/* line 1625, ../sass/main.scss */
.cta-big-image > .container {
  position: relative;
}

/* line 1628, ../sass/main.scss */
.cta-big-image .img-box {
  background: #000;
  max-width: 550px;
  padding: 3rem;
  position: absolute;
  bottom: -20%;
  right: 10%;
}

@media (max-width: 991.98px) {
  /* line 1636, ../sass/main.scss */
  .cta-big-image .img-box {
    position: relative;
    right: auto;
  }
}
/* line 1639, ../sass/main.scss */
.cta-big-image .img-box .sub-title {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .1em;
  margin-bottom: 1.5rem;
  display: block;
}

/* line 1646, ../sass/main.scss */
.cta-big-image .img-box h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

/* line 1650, ../sass/main.scss */
.cta-big-image .img-box p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  margin-bottom: 1.5rem;
}

/* line 1655, ../sass/main.scss */
.cta-big-image .img-box .btn {
  background: #f100a5;
  border-color: #f100a5;
  color: #000;
}

/* line 1659, ../sass/main.scss */
.cta-big-image .img-box .btn:hover {
  background: #fff;
  border-color: #fff;
  color: #000;
}

/* line 1663, ../sass/main.scss */
.cta-big-image .img-box *:last-child {
  margin-bottom: 0;
}

/* line 1666, ../sass/main.scss */
.team-member {
  background: #f0f0f0;
}

/* line 1668, ../sass/main.scss */
.team-member figure {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

/* line 1673, ../sass/main.scss */
.team-member .social {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  padding: 10px;
  -webkit-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transform: translateX(-101%);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  background: #f100a5;
}

/* line 1686, ../sass/main.scss */
.team-member .social li {
  list-style: none;
}

/* line 1688, ../sass/main.scss */
.team-member .social li a {
  display: inline-block;
  padding: 5px;
  color: #000;
}

/* line 1692, ../sass/main.scss */
.team-member h3 {
  color: #000;
  margin: 0;
  bottom: 0;
  font-size: 1.4rem;
}

/* line 1697, ../sass/main.scss */
.team-member .position {
  color: #808285;
}

/* line 1699, ../sass/main.scss */
.team-member:hover .social {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

/* line 1704, ../sass/main.scss */
.custom-direction {
  position: relative;
  z-index: 99;
  border-radius: 7px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px;
  left: 50%;
  display: inline-block;
  background: #f100a5;
}

/* line 1715, ../sass/main.scss */
.custom-direction a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  margin: 10px;
}

/* line 1721, ../sass/main.scss */
.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #000;
}

/* line 1728, ../sass/main.scss */
.sidebar-box *:last-child {
  margin-bottom: 0;
}

/* line 1730, ../sass/main.scss */
.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

/* line 1734, ../sass/main.scss */
.categories li, .sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}

/* line 1740, ../sass/main.scss */
.categories li:last-child, .sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

/* line 1744, ../sass/main.scss */
.categories li a, .sidelink li a {
  display: block;
}

/* line 1746, ../sass/main.scss */
.categories li a span, .sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

/* line 1751, ../sass/main.scss */
.categories li.active a, .sidelink li.active a {
  color: #000;
  font-style: italic;
}

/* line 1755, ../sass/main.scss */
.comment-form-wrap {
  clear: both;
}

/* line 1758, ../sass/main.scss */
.comment-list {
  padding: 0;
  margin: 0;
}

/* line 1761, ../sass/main.scss */
.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

/* line 1766, ../sass/main.scss */
.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}

/* line 1773, ../sass/main.scss */
.comment-list li .vcard {
  width: 80px;
  float: left;
}

/* line 1776, ../sass/main.scss */
.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

/* line 1779, ../sass/main.scss */
.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}

/* line 1782, ../sass/main.scss */
.comment-list li .comment-body h3 {
  font-size: 20px;
}

/* line 1784, ../sass/main.scss */
.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .1em;
  color: #ccc;
}

/* line 1789, ../sass/main.scss */
.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

/* line 1795, ../sass/main.scss */
.comment-list li .comment-body .reply:hover {
  color: #000;
  background: #e3e3e3;
}

/* line 1799, ../sass/main.scss */
.search-form {
  background: #f7f7f7;
  padding: 10px;
}

/* line 1802, ../sass/main.scss */
.search-form .form-group {
  position: relative;
}

/* line 1804, ../sass/main.scss */
.search-form .form-group input {
  padding-right: 50px;
}

/* line 1806, ../sass/main.scss */
.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 1814, ../sass/main.scss */
.post-meta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

/* line 1818, ../sass/main.scss */
.post-meta a {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/* line 1822, ../sass/main.scss */
.text-primary {
  color: #f100a5 !important;
}

/* line 1826, ../sass/main.scss */
.scrollable {
  z-index: 2;
  display: block;
  position: absolute;
  bottom: 68px;
  left: calc(50% - 14px);
  width: 28px;
  height: 48px;
  background-image: url(../img/mouse.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}
/* line 1847, ../sass/main.scss */
.scrollable::before, .scrollable::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -28px;
  left: calc(50% - 9px);
  width: 18px;
  height: 26px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  -moz-animation: bounceDown 2s infinite;
  -webkit-animation: bounceDown 2s infinite;
  -o-animation: bounceDown 2s infinite;
  animation: bounceDown 2s infinite;
}
/* line 1871, ../sass/main.scss */
.scrollable::after {
  bottom: -34px;
}

@keyframes bounceDown {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  50% {
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
/* line 1902, ../sass/main.scss */
.case-top {
  padding-top: 150px;
}
@media (max-width: 991.98px) {
  /* line 1902, ../sass/main.scss */
  .case-top {
    padding-top: 50px;
  }
}

/* line 1909, ../sass/main.scss */
.overlay-shadow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: url(../img/overlay.png) repeat-x center center;
  background-position: cover;
  opacity: 0.5;
}

/* line 1921, ../sass/main.scss */
.gray-box {
  background: #f7f7f7;
}

/* line 1925, ../sass/main.scss */
.img-gal-item {
  height: 150px;
  padding: 5px;
  overflow: hidden;
}
/* line 1926, ../sass/main.scss */
.img-gal-item a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 1942, ../sass/main.scss */
.blog-content img, .blog-content iframe {
  max-width: 100%;
}

/* line 1947, ../sass/main.scss */
section#home {
  min-height: 320px;
}
/* line 1949, ../sass/main.scss */
section#home .carousel-item {
  z-index: 1;
  background-position: center;
  background-size: cover;
}
/* line 1954, ../sass/main.scss */
section#home .carousel-caption {
  margin-bottom: 110px;
}
/* line 1958, ../sass/main.scss */
section#home .carousel-control .carousel-indicators,
section#home .carousel-control .carousel-control-prev,
section#home .carousel-control .carousel-control-next {
  z-index: 3;
}

/* line 1966, ../sass/main.scss */
section#mapa {
  width: 100%;
}
/* line 1968, ../sass/main.scss */
section#mapa:after {
  display: block;
  content: "";
  padding-top: 33.33%;
}
