/* line 64, ../sass/_base.scss */
* {
  outline: 0 none !important;
}

/* line 67, ../sass/_base.scss */
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

/* line 71, ../sass/_base.scss */
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", sans-serif;
  display: block;
}

/* line 79, ../sass/_base.scss */
body {
  height: 100%;
  overflow-x: hidden;
}

/* line 83, ../sass/_base.scss */
ul, li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: block;
}

/* line 84, ../sass/_base.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 85, ../sass/_base.scss */
form {
  margin: 0;
  padding: 0;
}

/* line 86, ../sass/_base.scss */
div, input, input:focus, textarea, textarea:focus, select, select:focus {
  outline: 0 none;
}

/* line 87, ../sass/_base.scss */
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

/* line 92, ../sass/_base.scss */
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #f100a5;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

/* line 98, ../sass/_base.scss */
.pageSize {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* line 101, ../sass/_base.scss */
.ajax-data {
  position: relative;
  float: left;
  display: block;
  min-height: 48px;
  width: 100%;
  z-index: 500;
  background: url("../img/loader-dark.gif") no-repeat center center;
}

/* line 108, ../sass/_base.scss */
.loader {
  position: relative;
  float: left;
  display: block;
  min-height: 48px;
  width: 100%;
  z-index: 500;
  margin: 50px auto;
  background: url("../img/loader-dark.gif") no-repeat center center;
}

/* line 117, ../sass/_base.scss */
.wrapper.withIScroll {
  height: 100%;
  width: 100%;
}
/* line 121, ../sass/_base.scss */
.wrapper.withIScroll .scroller {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 122, ../sass/_base.scss */
.wrapper.withIScroll .scroller ul {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
/* line 123, ../sass/_base.scss */
.wrapper.withIScroll .scroller li {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  float: left;
}
/* line 124, ../sass/_base.scss */
.wrapper.withIScroll .dragging {
  -webkit-user-drag: none !important;
}

/* line 129, ../sass/_base.scss */
main, header, footer, article, section {
  position: relative;
  float: left;
  display: block;
  width: 100%;
}

/* line 138, ../sass/_base.scss */
h1, h2, h3, h4, h5, small, .geo-field {
  text-transform: none;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

/* line 145, ../sass/_base.scss */
.mb-1 {
  margin-bottom: 1px;
}

/* line 148, ../sass/_base.scss */
.mt-1 {
  margin-top: 1px;
}

/* line 151, ../sass/_base.scss */
.ml-1 {
  margin-left: 1px;
}

/* line 154, ../sass/_base.scss */
.mr-1 {
  margin-right: 1px;
}

/* line 158, ../sass/_base.scss */
.mt-21 {
  margin-top: 21px;
}

/* line 162, ../sass/_base.scss */
hr {
  margin-bottom: 20px;
}

/* line 168, ../sass/_base.scss */
.loadie {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 0;
  height: 4px;
  z-index: 999999;
  -webkit-transition: width 0.1s ease-out;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

/* line 183, ../sass/_base.scss */
.sign {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 750;
  width: 45px;
  height: 11px;
  visibility: visible !important;
  opacity: 0.075;
  *filter: alpha(opacity=75);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=075)";
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
/* line 190, ../sass/_base.scss */
.sign .uzzye {
  width: 45px;
  height: 11px;
  background: url("../img/sign-black.png") no-repeat center center;
  background-size: contain;
}

/* line 197, ../sass/_base.scss */
.sign:hover {
  opacity: 1;
  *filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* line 203, ../sass/_base.scss */
.navbar .brand-img {
  max-height: 29px;
}

/* line 210, ../sass/_base.scss */
.preloader-it {
  background: none;
}

/* line 216, ../sass/_base.scss */
.error-frame {
  width: 100%;
  height: 100%;
  min-height: 100%;
  border: none;
  background: none;
  display: block;
}

/* line 227, ../sass/_base.scss */
.showOnLoad {
  opacity: 0;
  *filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/* line 233, ../sass/_base.scss */
.alinhamento {
  display: block;
  float: none;
  width: 80%;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  /* line 233, ../sass/_base.scss */
  .alinhamento {
    width: 80%;
    max-width: none;
  }
}
@media screen and (max-width: 575px) {
  /* line 233, ../sass/_base.scss */
  .alinhamento {
    width: 90%;
    max-width: none;
  }
}

/* line 251, ../sass/_base.scss */
.invisible {
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  visibility: hidden;
}

/* line 260, ../sass/_base.scss */
.grayscale {
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* line 265, ../sass/_base.scss */
.nofilter {
  filter: none;
  -webkit-filter: grayscale(0);
}

/*------------------------------------
- COLOR
------------------------------------*/
/* line 273, ../sass/_base.scss */
.alert {
  color: #c2fe42;
  background-color: #00f1ff;
  border-color: #00f1ff;
}

/* line 279, ../sass/_base.scss */
.alert hr {
  border-top-color: #00f1ff;
}

/* line 283, ../sass/_base.scss */
.alert .alert-link {
  color: #c2fe42;
}

/* line 287, ../sass/_base.scss */
.badge {
  color: #fff;
  background-color: #f100a5;
}

/* line 292, ../sass/_base.scss */
.badge[href]:hover, .badge[href]:focus {
  color: #fff;
  background-color: #f100a5;
}

/* line 297, ../sass/_base.scss */
.bg {
  background-color: #f100a5 !important;
}

/* line 301, ../sass/_base.scss */
a.bg:hover, a.bg:focus,
button.bg:hover,
button.bg:focus {
  background-color: #f100a5 !important;
}

/* line 307, ../sass/_base.scss */
.border {
  border-color: #f100a5 !important;
}

/* line 311, ../sass/_base.scss */
.btn {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 317, ../sass/_base.scss */
.btn:hover {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 323, ../sass/_base.scss */
.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 254, 66, 0.5);
}

/* line 327, ../sass/_base.scss */
.btn.disabled, .btn:disabled {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 333, ../sass/_base.scss */
.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active, .show > .btn.dropdown-toggle {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 339, ../sass/_base.scss */
.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus, .show > .btn.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 254, 66, 0.5);
}

/* line 343, ../sass/_base.scss */
.btn-outline {
  color: #f100a5;
  background-color: transparent;
  border-color: #f100a5;
}

/* line 349, ../sass/_base.scss */
.btn-outline:hover {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 355, ../sass/_base.scss */
.btn-outline:focus, .btn-outline.focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 254, 66, 0.5);
}

/* line 359, ../sass/_base.scss */
.btn-outline.disabled, .btn-outline:disabled {
  color: #f100a5;
  background-color: transparent;
}

/* line 364, ../sass/_base.scss */
.btn-outline:not(:disabled):not(.disabled):active, .btn-outline:not(:disabled):not(.disabled).active, .show > .btn-outline.dropdown-toggle {
  color: #fff;
  background-color: #f100a5;
  border-color: #f100a5;
}

/* line 370, ../sass/_base.scss */
.btn-outline:not(:disabled):not(.disabled):active:focus, .btn-outline:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 254, 66, 0.5);
}

/* line 374, ../sass/_base.scss */
.list-group-item {
  color: #c2fe42;
  background-color: #00f1ff;
}

/* line 379, ../sass/_base.scss */
.list-group-item.list-group-item-action:hover, .list-group-item.list-group-item-action:focus {
  color: #c2fe42;
  background-color: #00f1ff;
}

/* line 384, ../sass/_base.scss */
.list-group-item.list-group-item-action.active {
  color: #fff;
  background-color: #c2fe42;
  border-color: #c2fe42;
}

/* line 390, ../sass/_base.scss */
.table,
.table > th,
.table > td {
  background-color: #00f1ff;
}

/* line 396, ../sass/_base.scss */
.table-hover .table:hover {
  background-color: #00f1ff;
}

/* line 400, ../sass/_base.scss */
.table-hover .table:hover > td,
.table-hover .table:hover > th {
  background-color: #00f1ff;
}

/* line 405, ../sass/_base.scss */
.text {
  color: #f100a5 !important;
}

/* line 409, ../sass/_base.scss */
a.text:hover, a.text:focus {
  color: #f100a5 !important;
}

/* line 1, ../sass/_header.scss */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  z-index: 849;
  background: none;
  transition: height 0.5s, background 0.5s;
  -moz-transition: height 0.5s, background 0.5s;
  -webkit-transition: height 0.5s, background 0.5s;
  -o-transition: height 0.5s, background 0.5s;
}
/* line 16, ../sass/_header.scss */
header .logo {
  position: relative;
  display: inline-block;
  background: url(../img/logo.png) no-repeat left center;
  background-size: contain;
  width: 146px;
  height: 126px;
  margin-top: 30px;
  margin-left: 10%;
  vertical-align: top;
  transition: height 0.5s, margin 0.5s, background 0.5s;
  -moz-transition: height 0.5s, margin 0.5s, background 0.5s;
  -webkit-transition: height 0.5s, margin 0.5s, background 0.5s;
  -o-transition: height 0.5s, margin 0.5s, background 0.5s;
}
@media screen and (max-width: 991px) {
  /* line 16, ../sass/_header.scss */
  header .logo {
    margin-left: 5%;
  }
}
@media screen and (max-width: 767px) {
  /* line 16, ../sass/_header.scss */
  header .logo {
    height: 45px;
    margin-top: 25px;
  }
}
@media screen and (max-width: 575px) {
  /* line 16, ../sass/_header.scss */
  header .logo {
    margin-left: 5%;
  }
}
/* line 44, ../sass/_header.scss */
header .area-restrita {
  float: none;
  display: block;
  width: 100%;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  /* line 44, ../sass/_header.scss */
  header .area-restrita {
    float: none;
    display: inline-block;
    width: auto;
    margin-top: 0px;
  }
}
/* line 57, ../sass/_header.scss */
header .area-restrita a {
  /* font-size: 50pt;
  line-height: 50pt; */
  font-size: 10pt;
  line-height: 10pt;
  font-weight: normal;
  padding: 10px 20px;
  width: auto;
  text-align: center;
  float: right;
  border: 1px solid #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background 0.5s ease-out, border 0.5s ease-out;
  -moz-transition: background 0.5s ease-out, border 0.5s ease-out;
  -o-transition: background 0.5s ease-out, border 0.5s ease-out;
  transition: background 0.5s ease-out, border 0.5s ease-out;
}
@media screen and (max-width: 767px) {
  /* line 57, ../sass/_header.scss */
  header .area-restrita a {
    border: 1px solid transparent;
  }
}
@media screen and (max-width: 767px) {
  /* line 57, ../sass/_header.scss */
  header .area-restrita a {
    color: #000 !important;
    font-size: 24pt;
    line-height: 32pt;
  }
}
/* line 95, ../sass/_header.scss */
header .area-restrita a:hover {
  color: #fff !important;
  background: #fff;
}
/* line 103, ../sass/_header.scss */
header.fixed .area-restrita {
  vertical-align: middle;
  display: inline-block;
  width: auto;
  margin-top: 0px;
}
/* line 109, ../sass/_header.scss */
header.fixed .area-restrita a {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
  color: #000;
}

/* 
.page.home {
	header {
		background: transparent;

		.logo {
			background-image: url(../img/logo.png);
		}
	}
} */
/* line 127, ../sass/_header.scss */
header.fixed {
  height: 65px !important;
  background-color: #fff !important;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
/* line 132, ../sass/_header.scss */
header.fixed .logo {
  background-image: url("../img/logo_email.png") !important;
  margin-top: 15px !important;
  height: 35px !important;
}

/* line 139, ../sass/_header.scss */
header .btnMenu {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  margin-right: 10px;
  /*top: 10px*/
  position: absolute;
  margin-right: 0px;
  top: 40px;
  right: 10%;
  width: 25px;
  height: 25px;
  margin-top: 0px;
  display: none;
  z-index: 900;
  -webkit-transition: background 0.5s ease-out, transform 0.3s ease-out, width 0.5s ease-out, height 0.5s ease-out, top 0.5s ease-out;
  -moz-transition: background 0.5s ease-out, transform 0.3s ease-out, width 0.5s ease-out, height 0.5s ease-out, top 0.5s ease-out;
  -o-transition: background 0.5s ease-out, transform 0.3s ease-out, width 0.5s ease-out, height 0.5s ease-out, top 0.5s ease-out;
  transition: background 0.5s ease-out, transform 0.3s ease-out, width 0.5s ease-out, height 0.5s ease-out, top 0.5s ease-out;
}
@media screen and (max-width: 991px) {
  /* line 139, ../sass/_header.scss */
  header .btnMenu {
    right: 5%;
  }
}
@media screen and (max-width: 767px) {
  /* line 139, ../sass/_header.scss */
  header .btnMenu {
    display: block;
  }
}
@media screen and (max-width: 575px) {
  /* line 139, ../sass/_header.scss */
  header .btnMenu {
    right: 5%;
  }
}

/* line 165, ../sass/_header.scss */
header.fixed .btnMenu {
  top: 25px;
}

/* line 168, ../sass/_header.scss */
header .menu {
  position: absolute;
  top: 0px;
  z-index: 850;
  width: auto;
  min-width: 50%;
  height: auto;
  max-height: 100%;
  left: auto;
  right: 10%;
  opacity: 1;
  *filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@media screen and (max-width: 991px) {
  /* line 168, ../sass/_header.scss */
  header .menu {
    right: 5%;
  }
}
@media screen and (max-width: 767px) {
  /* line 168, ../sass/_header.scss */
  header .menu {
    width: 100%;
    height: 100%;
    max-height: none;
    right: -110%;
    opacity: 0.0;
    *filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: opacity 0.5s, right 0.5s;
    -moz-transition: opacity 0.5s, right 0.5s;
    -webkit-transition: opacity 0.5s, right 0.5s;
    -o-transition: opacity 0.5s, right 0.5s;
  }
}

/* line 197, ../sass/_header.scss */
header .menu .bg {
  background: none;
  display: none;
  opacity: 0.95;
  *filter: alpha(opacity=95);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
}
@media screen and (max-width: 767px) {
  /* line 197, ../sass/_header.scss */
  header .menu .bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 851;
    background-color: #fff;
    display: block;
  }
}

/* line 207, ../sass/_header.scss */
header .menu .conteudo {
  position: relative;
  display: block;
  right: 0;
  width: auto;
  min-width: 50%;
  margin-top: 30px;
  transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -webkit-transition: margin 0.5s;
  -o-transition: margin 0.5s;
}
@media screen and (max-width: 767px) {
  /* line 207, ../sass/_header.scss */
  header .menu .conteudo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 852;
    background: none;
    margin: 0;
    padding-top: 0px;
    text-align: center;
    height: auto;
    margin-top: auto;
  }
}
@media screen and (min-width: 768px) {
  /* line 207, ../sass/_header.scss */
  header .menu .conteudo {
    margin-top: 0px !important;
  }
}

/* line 232, ../sass/_header.scss */
header.fixed .menu .conteudo {
  margin-top: auto;
}
@media screen and (max-width: 767px) {
  /* line 232, ../sass/_header.scss */
  header.fixed .menu .conteudo {
    margin-top: 25px;
  }
}
@media screen and (max-width: 575px) {
  /* line 232, ../sass/_header.scss */
  header.fixed .menu .conteudo {
    margin-top: 25px;
  }
}
@media screen and (min-width: 768px) {
  /* line 232, ../sass/_header.scss */
  header.fixed .menu .conteudo {
    margin-top: 16px !important;
  }
}

@media screen and (max-width: 767px) {
  /* line 246, ../sass/_header.scss */
  header .menu.opened .conteudo {
    margin-top: 25px;
  }
}
@media screen and (max-width: 575px) {
  /* line 246, ../sass/_header.scss */
  header .menu.opened .conteudo {
    margin-top: 25px;
  }
}

/* line 256, ../sass/_header.scss */
header .menu .itens {
  position: relative;
  clear: both;
  float: right;
  display: inline-block;
  width: auto;
  height: auto;
  margin: auto;
  margin-right: -20px;
}
@media screen and (max-width: 767px) {
  /* line 256, ../sass/_header.scss */
  header .menu .itens {
    width: 100%;
    float: none;
    margin-right: 0px;
  }
}

/* line 271, ../sass/_header.scss */
header .menu .itens .itMenu {
  width: auto;
  display: inline-block;
  padding: 0px;
  box-sizing: border-box;
  margin: auto 20px;
  margin-top: 100px;
  position: relative;
}
@media screen and (max-width: 767px) {
  /* line 271, ../sass/_header.scss */
  header .menu .itens .itMenu {
    width: 100%;
    display: block;
    margin-top: 0px;
    margin: auto;
  }
}
@media screen and (max-width: 575px) {
  /* line 271, ../sass/_header.scss */
  header .menu .itens .itMenu {
    width: 90%;
  }
}

/* line 289, ../sass/_header.scss */
header .menu .itMenu a {
  /* font-size: 50pt;
  line-height: 50pt; */
  display: inline-block;
  font-size: 10pt;
  line-height: 10pt;
  padding: 10px 10px;
  width: auto;
  border-bottom: 2px solid transparent;
  /*border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;*/
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background 0.5s ease-out, border 0.5s ease-out;
  -moz-transition: background 0.5s ease-out, border 0.5s ease-out;
  -o-transition: background 0.5s ease-out, border 0.5s ease-out;
  transition: background 0.5s ease-out, border 0.5s ease-out;
}
@media screen and (max-width: 767px) {
  /* line 289, ../sass/_header.scss */
  header .menu .itMenu a {
    color: #000 !important;
    font-size: 24pt;
    line-height: 28pt;
  }
}
@media screen and (max-width: 575px) {
  /* line 289, ../sass/_header.scss */
  header .menu .itMenu a {
    font-size: 16pt;
    line-height: 16pt;
  }
}

/* line 325, ../sass/_header.scss */
header .menu .itMenu a:hover {
  color: #808285 !important;
  border-bottom: 2px solid #f100a5;
}

/* line 331, ../sass/_header.scss */
header .menu .itMenu.active a {
  color: #000 !important;
  border-bottom: 2px solid #000;
}

/* line 337, ../sass/_header.scss */
header.fixed .menu .itens {
  vertical-align: middle;
  margin-right: 10px;
}

/* line 341, ../sass/_header.scss */
header.fixed .menu .itens .itMenu {
  margin: 15px 10px;
}
@media screen and (max-width: 767px) {
  /* line 341, ../sass/_header.scss */
  header.fixed .menu .itens .itMenu {
    margin: 0px auto;
  }
}

/* line 348, ../sass/_header.scss */
header.fixed .menu .itMenu a {
  color: #000;
}

@media screen and (max-width: 767px) {
  /* line 352, ../sass/_header.scss */
  header .menu.opened {
    right: 0%;
    opacity: 1;
    *filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

/* line 359, ../sass/_header.scss */
header .subMenu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 888;
  background: #fff;
  padding: 10px 0px;
  margin-top: 0px;
  width: 200px;
  margin-left: -50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 359, ../sass/_header.scss */
  header .subMenu {
    position: relative;
    float: left;
    width: 100%;
    margin: auto;
    background: none;
    border: none;
    box-shadow: none;
  }
}
/* line 384, ../sass/_header.scss */
header .subMenu .subMenu_item {
  background: none;
  padding: 0px !important;
  width: 100%;
  text-align: center;
  float: left;
  display: block;
}
/* line 392, ../sass/_header.scss */
header .subMenu .subMenu_item a {
  color: #000;
  padding: 10px 20px !important;
  border: none !important;
  width: 100%;
  display: block;
  float: left;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  /* line 392, ../sass/_header.scss */
  header .subMenu .subMenu_item a {
    font-size: 10pt;
    line-height: 10pt;
  }
}
/* line 407, ../sass/_header.scss */
header .subMenu .subMenu_item:hover {
  background: #ededed;
}
/* line 410, ../sass/_header.scss */
header .subMenu .subMenu_item:hover a {
  color: #000 !important;
  border: none !important;
}

/* line 418, ../sass/_header.scss */
header .menu.opened .itens {
  right: 0%;
}

/* line 421, ../sass/_header.scss */
header .lang {
  width: 100%;
  clear: both;
  height: auto;
  display: block;
  margin: auto;
  float: none;
  text-align: center;
  padding-top: 0px;
}

/* line 431, ../sass/_header.scss */
header .lang .itLang {
  width: auto;
  display: inline-block;
  margin: auto;
  float: none;
  padding: 0px 10px;
}

/* line 438, ../sass/_header.scss */
header .lang .itLang a {
  color: #000;
  background: transparent;
  font-size: 16pt;
  line-height: 16pt;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
  text-transform: none;
  padding: 5px 10px;
  /* -webkit-transition: background $transitionTime ease-out, color $transitionTime ease-out;
  -moz-transition: background $transitionTime ease-out, color $transitionTime ease-out;
  -o-transition: background $transitionTime ease-out, color $transitionTime ease-out;
  transition: background $transitionTime ease-out, color $transitionTime ease-out; */
}

/* line 453, ../sass/_header.scss */
header .lang .itLang a:hover {
  color: #808285 !important;
  background: #000;
}

/* line 457, ../sass/_header.scss */
header .lang .itLang.active a {
  color: #000 !important;
  background: #000;
}

/* line 465, ../sass/_header.scss */
.burger-menu-piece {
  display: block;
  position: absolute;
  width: 100%;
  border-top: 1px solid #000;
  box-shadow: 0 0px #000;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 400ms ease-out, box-shadow 400ms ease-out, border 0.5s ease-out;
  transition: -webkit-transform 400ms ease-out, box-shadow 400ms ease-out, border 0.5s ease-out;
  transition: transform 400ms ease-out, box-shadow 400ms ease-out, border 0.5s ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out, box-shadow 400ms ease-out, border 0.5s ease-out;
  -o-transition: transform 400ms ease-out, box-shadow 400ms ease-out, border 0.5s ease-out;
  -o-transition: transform 400ms ease-out, -webkit-transform 400ms ease-out, box-shadow 400ms ease-out, border 0.5s ease-out;
  -moz-transition: transform 400ms ease-out, box-shadow 400ms ease-out, border 0.5s ease-out;
  -moz-transition: transform 400ms ease-out, -webkit-transform 400ms ease-out, box-shadow 400ms ease-out, border 0.5s ease-out;
}

/* line 482, ../sass/_header.scss */
.page.home .burger-menu-piece {
  border-color: #fff;
}

/* line 485, ../sass/_header.scss */
header.fixed .burger-menu-piece {
  border-color: #fff;
}
@media screen and (max-width: 767px) {
  /* line 485, ../sass/_header.scss */
  header.fixed .burger-menu-piece {
    border-color: #000;
  }
}

/* line 491, ../sass/_header.scss */
.btnMenu:hover .burger-menu-piece {
  border-color: #808285 !important;
}

/* line 494, ../sass/_header.scss */
.opened .burger-menu-piece {
  border-color: #000 !important;
}

/* line 498, ../sass/_header.scss */
.burger-menu-piece:nth-child(1) {
  top: 0;
}

/* line 501, ../sass/_header.scss */
.burger-menu-piece:nth-child(2) {
  top: 8px;
  opacity: 1;
}

/* line 505, ../sass/_header.scss */
.burger-menu-piece:nth-child(3) {
  top: 16px;
}

/* line 508, ../sass/_header.scss */
.opened .burger-menu-piece:nth-child(1) {
  -webkit-animation: burger-open-top 400ms ease-out forwards;
  animation: burger-open-top 400ms ease-out forwards;
  /*box-shadow: 1px 1px $color1;*/
}

/* line 513, ../sass/_header.scss */
.opened .burger-menu-piece:nth-child(2) {
  opacity: 0;
}

/* line 516, ../sass/_header.scss */
.opened .burger-menu-piece:nth-child(3) {
  -webkit-animation: burger-open-bot 400ms ease-out forwards;
  animation: burger-open-bot 400ms ease-out forwards;
  /*box-shadow: -1px 1px $color1;*/
}

/* line 521, ../sass/_header.scss */
.burger-menu-piece:nth-child(1) {
  -webkit-animation: burger-close-top 400ms ease-out forwards;
  animation: burger-close-top 400ms ease-out forwards;
}

/* line 525, ../sass/_header.scss */
.burger-menu-piece:nth-child(3) {
  -webkit-animation: burger-close-bot 400ms ease-out forwards;
  animation: burger-close-bot 400ms ease-out forwards;
}

@-webkit-keyframes burger-open-top {
  50% {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
}
@keyframes burger-open-top {
  50% {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
}
@-webkit-keyframes burger-open-bot {
  50% {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
}
@keyframes burger-open-bot {
  50% {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
}
@-webkit-keyframes burger-close-top {
  0% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(0deg);
    transform: translate3d(0, 8px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes burger-close-top {
  0% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(0deg);
    transform: translate3d(0, 8px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes burger-close-bot {
  0% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(0deg);
    transform: translate3d(0, -8px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes burger-close-bot {
  0% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(0deg);
    transform: translate3d(0, -8px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 628, ../sass/_header.scss */
.contact-items {
  display: block;
  float: right;
  width: auto;
  margin-left: 0px;
  position: absolute;
  right: 10px;
  top: 50px;
  font-size: 10pt;
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 767px) {
  /* line 628, ../sass/_header.scss */
  .contact-items {
    position: relative;
    top: auto !important;
    right: auto !important;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 100%;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    transform: scale(1) !important;
    font-size: 12pt !important;
    filter: none !important;
    -webkit-filter: grayscale(0) !important;
  }
}
/* line 664, ../sass/_header.scss */
.contact-items .it {
  display: inline-block;
  margin: auto;
  margin-left: 10px;
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  /* line 664, ../sass/_header.scss */
  .contact-items .it {
    display: block;
    width: 100%;
  }
}
/* line 675, ../sass/_header.scss */
.contact-items .it .ico {
  width: 27px;
  height: 24px;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
/* line 689, ../sass/_header.scss */
.contact-items .it a {
  color: #fff;
}
@media screen and (max-width: 767px) {
  /* line 689, ../sass/_header.scss */
  .contact-items .it a {
    color: #000;
  }
}
/* line 694, ../sass/_header.scss */
.contact-items .it a:hover {
  color: #f100a5;
}
/* line 700, ../sass/_header.scss */
.contact-items .it.whatsapp .ico {
  background-image: url(../img/ico-whats.png);
}
/* line 704, ../sass/_header.scss */
.contact-items .it.whatsapp:hover .ico {
  background-image: url(../img/ico-whats.png);
}
/* line 710, ../sass/_header.scss */
.contact-items .it.phone .ico {
  background-image: url(../img/ico-phone.png);
}
/* line 714, ../sass/_header.scss */
.contact-items .it.phone:hover .ico {
  background-image: url(../img/ico-phone.png);
}
/* line 720, ../sass/_header.scss */
.contact-items .it.email .ico {
  background-image: url(../img/ico-mail.png);
}
/* line 724, ../sass/_header.scss */
.contact-items .it.email:hover .ico {
  background-image: url(../img/ico-mail.png);
}

/* line 731, ../sass/_header.scss */
header.fixed .contact-items {
  top: -8px;
  right: -90px;
  font-size: 12pt;
  -webkit-transform: scale(0.66);
  -moz-transform: scale(0.66);
  -o-transform: scale(0.66);
  transform: scale(0.66);
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* line 745, ../sass/_header.scss */
.social-itens {
  display: inline-block;
  float: right;
  width: auto;
  margin-left: 20px;
  position: absolute;
  right: 0px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 767px) {
  /* line 745, ../sass/_header.scss */
  .social-itens {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 12px;
    margin-bottom: 0px;
  }
}
/* line 768, ../sass/_header.scss */
.social-itens .it {
  display: inline-block;
  margin: auto;
  margin-left: 5px;
  margin-right: 0px;
}
/* line 773, ../sass/_header.scss */
.social-itens .it .ico {
  width: 27px;
  height: 24px;
  background-position: -0px -0px;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
  background-image: url(../img/social.png);
}
/* line 789, ../sass/_header.scss */
.social-itens .it:hover .ico {
  background-image: url(../img/social-hover.png);
}
/* line 795, ../sass/_header.scss */
.social-itens .it.facebook .ico {
  background-position: -0px -0px;
}
/* line 800, ../sass/_header.scss */
.social-itens .it.instagram .ico {
  background-position: -29px -0px;
}

@media screen and (max-width: 767px) {
  /* line 807, ../sass/_header.scss */
  header .menu.opened .social-itens {
    display: block;
    float: none;
    margin-left: 0px;
    margin-top: 25px;
  }
  /* line 814, ../sass/_header.scss */
  header .menu.opened .social-itens .it {
    margin-left: 5px;
    margin-right: 5px;
    /* -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); */
  }
  /* line 817, ../sass/_header.scss */
  header .menu.opened .social-itens .it .ico {
    background-image: url(../img/social-hover.png);
  }
}

/* line 829, ../sass/_header.scss */
header .social-itens {
  position: relative;
  top: auto;
  float: none;
  right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
}
/* line 840, ../sass/_header.scss */
header .social-itens .it .ico {
  background-image: url(../img/social.png);
}

@media screen and (max-width: 767px) {
  /* line 845, ../sass/_header.scss */
  header.fixed .menu.opened .social-itens {
    margin-top: 0px;
  }
}

/* line 1, ../sass/_home.scss */
section.banner {
  background: #666;
  padding: 0px;
  padding-top: 0px;
  overflow: hidden;
  max-height: 640px;
  /* .carousel-caption {
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      bottom: 0px;
  } */
}
@media screen and (max-width: 767px) {
  /* line 1, ../sass/_home.scss */
  section.banner {
    max-height: 480px;
  }
}
/* line 12, ../sass/_home.scss */
section.banner .overlay {
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: top center;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
/* line 21, ../sass/_home.scss */
section.banner .carousel-item {
  background-size: cover;
}

/* line 8, ../sass/main_raw.scss */
body {
  padding-top: 5rem;
}

/* line 11, ../sass/main_raw.scss */
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
