@import "compass/css3/transform";
@import "compass/css3/transition";
// Import Ceaser Easing
@import "ceaser-easing";
 
$transitionTime: 1.5s;

$color1:  #000;
$color2:  #00c8d3;
$color3:  #fff;
$color4:  #808285;
$color5:  #fafafa;
$color6:  #666;
$color7:  #e69419;
$color8:  #00f1ff;
$color9:  #ffd020;
$color10: #1a02d1;

$font1: "Oswald";
$font2: "Oswald";

$fontLight: 300;
$fontMedium: 500;
$fontBold: 700;
$fontBlack: 900;
 
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;

@mixin phone {
    @media screen and (max-width: #{$small}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: #{$medium}) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: #{$large}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width: #{$x-large}) {
        @content;
    }
}

@mixin ultrahd {
    @media screen and (min-width: #{$x-large + 1px}) {
        @content;
    }
}

// Page defaults

* {
  outline: 0 none!important;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: $font1, sans-serif;
  display: block;
}
body {
  height: 100%;
  overflow-x: hidden;
}
ul, li {padding:0px; margin:0px; list-style:none; display:block;}
p {margin:0; padding:0;}
form {margin:0; padding:0;}
div, input, input:focus, textarea, textarea:focus, select, select:focus {outline: 0 none;}
a {text-decoration:none; cursor:pointer; color: $color1;
-webkit-transition: color $transitionTime ease-out;
-moz-transition: color $transitionTime ease-out;
-o-transition: color $transitionTime ease-out;
transition: color $transitionTime ease-out;}
a:hover {text-decoration:none; cursor:pointer; color: $color2;
-webkit-transition: color $transitionTime ease-out;
-moz-transition: color $transitionTime ease-out;
-o-transition: color $transitionTime ease-out;
transition: color $transitionTime ease-out;}

.pageSize {position:absolute; top:0px; left:0px; bottom: 0px; right: 0px; min-width: 100%; min-height: 100%; visibility:hidden; width:100%; height:100%; z-index: -1; pointer-events: none;}

// Ajax Data Loader
.ajax-data {
  //position:absolute; top:0px; left:0px; bottom: 0px; right: 0px; width: 100%; height: 100%; min-width: 100%; min-height: 100%;
  position: relative; float: left; display: block; min-height: 48px; width: 100%;
  z-index: 500;
  background: url("../img/loader-dark.gif") no-repeat center center;
  //background: url("../img/loader-light.gif") no-repeat center center;
}
.loader {
  position: relative; float: left; display: block; min-height: 48px; width: 100%;
  z-index: 500;
  margin: 50px auto;
  background: url("../img/loader-dark.gif") no-repeat center center;
}

// IScroll

.wrapper.withIScroll {
  height: 100%;
  width: 100%;

  .scroller {position:relative; height: 100%; width: 100%;}
  .scroller ul {position:relative; height: 100%; overflow:hidden; width:100%;}
  .scroller li {position:relative; height: 100%; width: 100%; display: block; float: left;}
  .dragging {-webkit-user-drag: none!important;}
}

// Blocks

main, header, footer, article, section {
  position: relative;
  float: left;
  display: block;
  width: 100%;
}

// Helpers

h1, h2, h3, h4, h5, small, .geo-field {
  text-transform: none;
  font-weight: $fontMedium;
  padding: 0px;
  margin: 0px;
}

.mb-1 {
  margin-bottom: 1px;
}
.mt-1 {
  margin-top: 1px;
}
.ml-1 {
  margin-left: 1px;
}
.mr-1 {
  margin-right: 1px;
}

.mt-21 {
  margin-top: 21px;
}

hr {
  margin-bottom: 20px;
}

// Loadie

.loadie {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $color3;
	width: 0;
	height: 4px;
	z-index: 999999;
	-webkit-transition: width 0.1s ease-out;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
	//box-shadow: 0px;
}

// Assinaturas

.sign {position:absolute; bottom:10px; right:10px; z-index:750; width: 45px; height: 11px; visibility: visible!important;
  opacity: 0.075;*filter: alpha(opacity = 075); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=075)";
  -webkit-transition: opacity $transitionTime ease-out;
  -moz-transition: opacity $transitionTime ease-out;
  -o-transition: opacity $transitionTime ease-out;
  transition: opacity $transitionTime ease-out;

  .uzzye {
    width: 45px;
    height: 11px;
    background: url("../img/sign-black.png") no-repeat center center;
    background-size: contain;
  }
}
.sign:hover {
  opacity: 1;*filter: alpha(opacity = 100); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}

// Navbar

.navbar {
  .brand-img {
    max-height: 29px;
  }
}

// Preloader

.preloader-it {
  background: none;
}

// Frames

.error-frame {
  width: 100%;
  height: 100%;
  min-height: 100%;
  border: none;
  background: none;
  display: block;
}

// Other

.showOnLoad {
  opacity: 0;*filter: alpha(opacity = 0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

$imgTime: 2.5s;

.alinhamento {
  display: block;
  float: none;
  width: 80%;
  //max-width: 1120px;
  margin: auto;
  position: relative;

  @include tablet {
    width: 80%;
    max-width: none;
  }
  @include phone {
    width: 90%;
    max-width: none;
  }
}

.invisible {
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  visibility: hidden;
}

.grayscale {
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.nofilter {
  filter: none;
  -webkit-filter: grayscale(0);
}

/*------------------------------------
- COLOR
------------------------------------*/
.alert {
  color: $color7;
  background-color: $color8;
  border-color: $color8;
}

.alert hr {
  border-top-color: $color8;
}

.alert .alert-link {
  color: $color7;
}

.badge {
  color: $color3;
  background-color: $color2;
}

.badge[href]:hover, .badge[href]:focus {
  color: $color3;
  background-color: $color2;
}

.bg {
  background-color: $color2 !important;
}

a.bg:hover, a.bg:focus,
button.bg:hover,
button.bg:focus {
  background-color: $color2 !important;
}

.border {
  border-color: $color2 !important;
}

.btn {
  color: $color3;
  background-color: $color2;
  border-color: $color2;
}

.btn:hover {
  color: $color3;
  background-color: $color2;
  border-color: $color2;
}

.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0.2rem rgba($color7, 0.5);
}

.btn.disabled, .btn:disabled {
  color: $color3;
  background-color: $color2;
  border-color: $color2;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active, .show > .btn.dropdown-toggle {
  color: $color3;
  background-color: $color2;
  border-color: $color2;
}

.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus, .show > .btn.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba($color7, 0.5);
}

.btn-outline {
  color: $color2;
  background-color: transparent;
  border-color: $color2;
}

.btn-outline:hover {
  color: $color3;
  background-color: $color2;
  border-color: $color2;
}

.btn-outline:focus, .btn-outline.focus {
  box-shadow: 0 0 0 0.2rem rgba($color7, 0.5);
}

.btn-outline.disabled, .btn-outline:disabled {
  color: $color2;
  background-color: transparent;
}

.btn-outline:not(:disabled):not(.disabled):active, .btn-outline:not(:disabled):not(.disabled).active, .show > .btn-outline.dropdown-toggle {
  color: $color3;
  background-color: $color2;
  border-color: $color2;
}

.btn-outline:not(:disabled):not(.disabled):active:focus, .btn-outline:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba($color7, 0.5);
}

.list-group-item {
  color: $color7;
  background-color: $color8;
}

.list-group-item.list-group-item-action:hover, .list-group-item.list-group-item-action:focus {
  color: $color7;
  background-color: $color8;
}

.list-group-item.list-group-item-action.active {
  color: $color3;
  background-color: $color7;
  border-color: $color7;
}

.table,
.table > th,
.table > td {
  background-color: $color8;
}

.table-hover .table:hover {
  background-color: $color8;
}

.table-hover .table:hover > td,
.table-hover .table:hover > th {
  background-color: $color8;
}

.text {
  color: $color2 !important;
}

a.text:hover, a.text:focus {
  color: $color2 !important;
}
