header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100px;
	width: 100%;
	z-index: 849;

	background: none;

	transition: height $transitionTime, background $transitionTime;
	-moz-transition: height $transitionTime, background $transitionTime;
	-webkit-transition: height $transitionTime, background $transitionTime;
	-o-transition: height $transitionTime, background $transitionTime;

	.logo {
		position: relative;
		display: inline-block;
		background: url(../img/logo.png) no-repeat left center;
		background-size: contain;
		width: 146px;
		height: 126px;
		margin-top: 30px;
		margin-left: 10%;
    vertical-align: top;

		transition: height $transitionTime, margin $transitionTime, background $transitionTime;
		-moz-transition: height $transitionTime, margin $transitionTime, background $transitionTime;
		-webkit-transition: height $transitionTime, margin $transitionTime, background $transitionTime;
		-o-transition: height $transitionTime, margin $transitionTime, background $transitionTime;

		@include laptop {
			margin-left: 5%;
		}
		@include tablet {
			height: 45px;
			margin-top: 25px;
		}
		@include phone {
			margin-left: 5%;
		}
	}

	.area-restrita {
		float: none;
		display: block;
		width: 100%;
    margin-top: 25px;

		@include tablet {
			float: none;
		    display: inline-block;
		    width: auto;
     		margin-top: 0px;
		}

		a {
		    /* font-size: 50pt;
		    line-height: 50pt; */
		    font-size: 10pt;
		    line-height: 10pt;
		    font-weight: normal;
		    padding: 10px 20px;
		    width: auto;
		    text-align: center;
			  float: right;

		    border: 1px solid $color3;

        @include tablet {
          border: 1px solid transparent;
        }

		    border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -o-border-radius: 30px;
		    background: transparent;

		    font-family: $font1, Helvetica, Arial, Verdana, sans-serif;
    		font-weight: $fontLight;
		    color: $color3;
		    text-transform: uppercase;
		    
		    @include tablet {
		      color: $color1!important;
		      font-size: 24pt;
		      line-height: 32pt;
		    }

		    -webkit-transition: background $transitionTime ease-out, border $transitionTime ease-out;
		    -moz-transition: background $transitionTime ease-out, border $transitionTime ease-out;
		    -o-transition: background $transitionTime ease-out, border $transitionTime ease-out;
		    transition: background $transitionTime ease-out, border $transitionTime ease-out;
        &:hover {	
          color: $color3!important;

          background: $color3;
        }
		}
	}

	&.fixed .area-restrita {
      vertical-align: middle;
      display: inline-block;
    	width: auto;
     	margin-top: 0px;

     	a {
     		font-family: $font1, Helvetica, Arial, Verdana, sans-serif;
    		font-weight: $fontLight;
		    color: $color1;
     	}
	}
}
/* 
.page.home {
	header {
		background: transparent;

		.logo {
			background-image: url(../img/logo.png);
		}
	}
} */

header.fixed {
	height: 65px!important;
	background-color: #fff!important;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);

	.logo {
		background-image: url('../img/logo_email.png')!important;
		margin-top: 15px!important;
		height: 35px!important;
	}
}

header .btnMenu {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    margin-right: 10px;
    /*top: 10px*/

    position: absolute; margin-right: 0px; top: 40px; right: 10%; width: 25px; height: 25px; margin-top: 0px;
    display: none;
    @include laptop {
      right: 5%;
    }
    @include tablet {
      display: block;
    }
    @include phone {
      right: 5%;
    }
    z-index: 900;
    
    -webkit-transition: background $transitionTime ease-out, transform 0.3s ease-out, width $transitionTime ease-out, height $transitionTime ease-out, top $transitionTime ease-out;
    -moz-transition: background $transitionTime ease-out, transform 0.3s ease-out, width $transitionTime ease-out, height $transitionTime ease-out, top $transitionTime ease-out;
    -o-transition: background $transitionTime ease-out, transform 0.3s ease-out, width $transitionTime ease-out, height $transitionTime ease-out, top $transitionTime ease-out;
    transition: background $transitionTime ease-out, transform 0.3s ease-out, width $transitionTime ease-out, height $transitionTime ease-out, top $transitionTime ease-out;
}
header.fixed .btnMenu {
    top: 25px;
}
header .menu {
    position: absolute; top: 0px; z-index: 850;
    width: auto;
    min-width: 50%;
    height: auto;
    max-height: 100%; // Para desativar o height automático do default.js
    left: auto;
    
    right: 10%;
    opacity: 1;*filter: alpha(opacity = 100); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    @include laptop {
      right: 5%;
    }
    @include tablet {
      width: 100%;
      height: 100%; 
      max-height: none;
      right: -110%;  
      opacity: 0.0;*filter: alpha(opacity = 0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

      transition: opacity $transitionTime, right $transitionTime;
      -moz-transition: opacity $transitionTime, right $transitionTime;
      -webkit-transition: opacity $transitionTime, right $transitionTime;
      -o-transition: opacity $transitionTime, right $transitionTime;
    }
}
header.fixed .menu {

}
header .menu .bg {
    background: none;
    display: none;
    opacity: 0.95;*filter: alpha(opacity = 95); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    @include tablet {
      position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 851;
      background-color: #fff;
      display: block;
    }
}
header .menu .conteudo {
  position: relative;
  display: block;
  right: 0;
  width: auto;
  min-width: 50%;
  margin-top: 30px;
  @include tablet {
    position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 852;
    background: none;
    margin: 0;
    padding-top: 0px;
    text-align: center;
    height: auto;
    margin-top: auto;
  }
  @media screen and (min-width: #{$medium + 1px}) {
    margin-top: 0px!important;
  }

  transition: margin $transitionTime;
  -moz-transition: margin $transitionTime;
  -webkit-transition: margin $transitionTime;
  -o-transition: margin $transitionTime;
}
header.fixed .menu .conteudo {
    margin-top: auto;
    @include tablet {
      //margin-top: 12%!important;
      margin-top: 25px;
    }
    @include phone {
      //margin-top: 24%!important;
      margin-top: 25px;
    }
    @media screen and (min-width: #{$medium + 1px}) {
      margin-top: 16px!important;  
    }
}
header .menu.opened .conteudo {
    @include tablet {
      //margin-top: 12%;
      margin-top: 25px;
    }
    @include phone {
      //margin-top: 24%;
      margin-top: 25px;
    }
}
header .menu .itens {
  position: relative;
  clear: both;
  float: right;
  display: inline-block;
  width: auto;
  height: auto;
  margin: auto;
  margin-right: -20px;
  @include tablet {
    width: 100%;
    float: none;
    margin-right: 0px;
  }
}
header .menu .itens .itMenu {
    width: auto;
    display: inline-block;
    padding: 0px;
    box-sizing: border-box;
    margin: auto 20px;
    margin-top: 100px;
    position: relative;
    @include tablet {
      width: 100%;
      display: block;
      margin-top: 0px;
      margin: auto;
    }
    @include phone {
      width: 90%;
    }
}
header .menu .itMenu a {
    /* font-size: 50pt;
    line-height: 50pt; */
    display: inline-block;
    font-size: 10pt;
    line-height: 10pt;
    padding: 10px 10px;
    width: auto;

    border-bottom: 2px solid transparent;
    /*border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;*/
    background: transparent;

    font-family: $font1, Helvetica, Arial, Verdana, sans-serif;
    font-weight: $fontLight;
    color: $color3;
    text-transform: uppercase;
    
    @include tablet {
      color: $color1!important;
      font-size: 24pt;
      line-height: 28pt;
    }
    @include phone {
      font-size: 16pt;
      line-height: 16pt;      
    }

    -webkit-transition: background $transitionTime ease-out, border $transitionTime ease-out;
    -moz-transition: background $transitionTime ease-out, border $transitionTime ease-out;
    -o-transition: background $transitionTime ease-out, border $transitionTime ease-out;
    transition: background $transitionTime ease-out, border $transitionTime ease-out;
}
header .menu .itMenu a:hover {
  color: $color4!important;

  //background: $color1;
  border-bottom: 2px solid $color2;
}
header .menu .itMenu.active a {
  color: $color1!important;

  //background: $color1
  border-bottom: 2px solid $color1;
}
header.fixed .menu .itens {
  vertical-align: middle;
  margin-right: 10px;
}
header.fixed .menu .itens .itMenu {
  margin: 15px 10px;
  @include tablet {
    //margin: 25px auto;    
    margin: 0px auto;
  }
}
header.fixed .menu .itMenu a {
  color: $color1;
}

header .menu.opened {
  @include tablet {
    right: 0%;
    opacity: 1;*filter: alpha(opacity = 100); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

header .subMenu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 888;
  background: #fff;
  padding: 10px 0px;
  margin-top: 0px;
  width: 200px;
  margin-left: -50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  
  display: none;

  @include tablet {
    //display: block!important;
    position: relative;
    float: left;
    width: 100%;
    margin: auto;
    background: none;
    border: none;
    box-shadow: none;
  }

  .subMenu_item {
    background: none;
    padding: 0px!important;
    width: 100%;
    text-align: center;
    float: left;
    display: block;

    a {
      color: $color1;
      padding: 10px 20px!important;
      border: none!important;
      width: 100%;
      display: block;
      float: left;
      box-sizing: border-box;

      @include tablet {
        font-size: 10pt;
        line-height: 10pt;
      }
    }

    &:hover {
      background: #ededed;

      a {
        color: $color1!important;
        border: none!important;
      }
    }
  }
}

header .menu.opened .itens {
    right: 0%;
}
header .lang {
  width: 100%;
  clear: both;
  height: auto;
  display: block;
  margin: auto;
  float: none;
  text-align: center;
  padding-top: 0px;
}
header .lang .itLang {
  width: auto;
  display: inline-block;
  margin: auto;
  float: none;  
  padding: 0px 10px;
}
header .lang .itLang a {
    color: $color1;
    background: transparent;
    font-size: 16pt;
    line-height: 16pt;
    font-family: $font1, Helvetica, Arial, Verdana, sans-serif;
    font-weight: $fontLight;
    text-transform: none;
    padding: 5px 10px;

  /* -webkit-transition: background $transitionTime ease-out, color $transitionTime ease-out;
  -moz-transition: background $transitionTime ease-out, color $transitionTime ease-out;
  -o-transition: background $transitionTime ease-out, color $transitionTime ease-out;
  transition: background $transitionTime ease-out, color $transitionTime ease-out; */
}
header .lang .itLang a:hover {
color: $color4!important;
background: $color1;
}
header .lang .itLang.active a {
color: $color1!important;
background: $color1;
}

$burgerHeight: 1;
$burgerDistance: 8;
$burgerPadding: 0;
.burger-menu-piece {
  display: block;
  position: absolute;
  width: 100%;
  border-top: $burgerHeight+px solid $color1;
  box-shadow: 0 0px $color1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 400ms ease-out, box-shadow 400ms ease-out, border $transitionTime ease-out;
  transition: -webkit-transform 400ms ease-out, box-shadow 400ms ease-out, border $transitionTime ease-out;
  transition: transform 400ms ease-out, box-shadow 400ms ease-out, border $transitionTime ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out, box-shadow 400ms ease-out, border $transitionTime ease-out;
  -o-transition: transform 400ms ease-out, box-shadow 400ms ease-out, border $transitionTime ease-out;
  -o-transition: transform 400ms ease-out, -webkit-transform 400ms ease-out, box-shadow 400ms ease-out, border $transitionTime ease-out;
  -moz-transition: transform 400ms ease-out, box-shadow 400ms ease-out, border $transitionTime ease-out;
  -moz-transition: transform 400ms ease-out, -webkit-transform 400ms ease-out, box-shadow 400ms ease-out, border $transitionTime ease-out;
}
.page.home .burger-menu-piece {
    border-color: $color3; 
}
header.fixed .burger-menu-piece {
    border-color: $color3; 
    @include tablet {
      border-color: $color1;
    }
}
.btnMenu:hover .burger-menu-piece {
    border-color: $color4!important; 
}
.opened .burger-menu-piece {
    border-color: $color1!important;
}

.burger-menu-piece:nth-child(1) {
  top: 0;
}
.burger-menu-piece:nth-child(2) {
  top: (($burgerHeight*$burgerDistance)+$burgerPadding)+px;
  opacity: 1;
}
.burger-menu-piece:nth-child(3) {
  top: (($burgerHeight*($burgerDistance*2))+($burgerPadding*2))+px;
}
.opened .burger-menu-piece:nth-child(1) {
  -webkit-animation: burger-open-top 400ms ease-out forwards;
          animation: burger-open-top 400ms ease-out forwards;
  /*box-shadow: 1px 1px $color1;*/
}
.opened .burger-menu-piece:nth-child(2) {
  opacity: 0;
}
.opened .burger-menu-piece:nth-child(3) {
  -webkit-animation: burger-open-bot 400ms ease-out forwards;
          animation: burger-open-bot 400ms ease-out forwards;
  /*box-shadow: -1px 1px $color1;*/
}
.burger-menu-piece:nth-child(1) {
  -webkit-animation: burger-close-top 400ms ease-out forwards;
          animation: burger-close-top 400ms ease-out forwards;
}
.burger-menu-piece:nth-child(3) {
  -webkit-animation: burger-close-bot 400ms ease-out forwards;
          animation: burger-close-bot 400ms ease-out forwards;
}

@-webkit-keyframes burger-open-top {
  50% {
    -webkit-transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0);
            transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(45deg);
            transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(45deg);
  }
}

@keyframes burger-open-top {
  50% {
    -webkit-transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0);
            transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(45deg);
            transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(45deg);
  }
}
@-webkit-keyframes burger-open-bot {
  50% {
    -webkit-transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0);
            transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(-45deg);
            transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(-45deg);
  }
}
@keyframes burger-open-bot {
  50% {
    -webkit-transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0);
            transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(-45deg);
            transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(-45deg);
  }
}
@-webkit-keyframes burger-close-top {
  0% {
    -webkit-transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(45deg);
            transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(0deg);
            transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes burger-close-top {
  0% {
    -webkit-transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(45deg);
            transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(0deg);
            transform: translate3d(0, ($burgerHeight*$burgerDistance)+px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes burger-close-bot {
  0% {
    -webkit-transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(-45deg);
            transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(0deg);
            transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes burger-close-bot {
  0% {
    -webkit-transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(-45deg);
            transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(0deg);
            transform: translate3d(0, -($burgerHeight*$burgerDistance)+px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.contact-items {
  display: block;
  float: right;
  width: auto;
  //margin: 22px auto;
  margin-left: 0px;
  position: absolute;
  right: 10px;
  top: 50px;

  font-size: 10pt;
  filter: none;
  -webkit-filter: grayscale(0);

  -webkit-transition: all $transitionTime ease-out;
  -moz-transition: all $transitionTime ease-out;
  -o-transition: all $transitionTime ease-out;
  transition: all $transitionTime ease-out;

  @include tablet {
    position: relative;
    top: auto!important;
    right: auto!important;
    margin-top: 15px;
    margin-bottom: 0px;    
    width: 100%;
    -webkit-transform: scale(1)!important;
    -moz-transform: scale(1)!important;
    -o-transform: scale(1)!important;
    transform: scale(1)!important;

    font-size: 12pt!important;
    filter: none!important;
    -webkit-filter: grayscale(0)!important;
  }

  .it {
    display: inline-block;
    margin: auto;
    margin-left: 10px;
    margin-right: 0px;

    @include tablet {
      display: block;
      width: 100%;
    }

    .ico {
      width: 27px;
      height: 24px;
      vertical-align: middle;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;

      -webkit-transition: background $transitionTime ease-out;
      -moz-transition: background $transitionTime ease-out;
      -o-transition: background $transitionTime ease-out;
      transition: background $transitionTime ease-out;
    }

    a {
      color: $color3;
      @include tablet {
        color: $color1;
      }
      &:hover {
        color: $color2;
      }
    }

    &.whatsapp {
      .ico {
        background-image: url(../img/ico-whats.png);
      }
      &:hover {
        .ico {
          background-image: url(../img/ico-whats.png);
        }
      }
    }
    &.phone {
      .ico {
        background-image: url(../img/ico-phone.png);
      }
      &:hover {
        .ico {
          background-image: url(../img/ico-phone.png);
        }
      }
    }
    &.email {
      .ico {
        background-image: url(../img/ico-mail.png);
      }
      &:hover {
        .ico {
          background-image: url(../img/ico-mail.png);
        }
      }
    }
  }
}
header.fixed .contact-items {
  top: -8px;
  right: -90px;
  font-size: 12pt;
  -webkit-transform: scale(0.66);
  -moz-transform: scale(0.66);
  -o-transform: scale(0.66);
  transform: scale(0.66);

  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.social-itens {
  display: inline-block;
  float: right;
  width: auto;
  //margin: 22px auto;
  margin-left: 20px;
  position: absolute;
  right: 0px;
  //top: 50px;

  -webkit-transition: all $transitionTime ease-out;
  -moz-transition: all $transitionTime ease-out;
  -o-transition: all $transitionTime ease-out;
  transition: all $transitionTime ease-out;

  @include tablet {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 12px;
    margin-bottom: 0px;
  }

  .it {
    display: inline-block;
    margin: auto;
    margin-left: 5px;
    margin-right: 0px;
    .ico {
      width: 27px;
      height: 24px;
      background-position: -0px -0px;
      background-repeat: no-repeat;
      display: inline-block;

      -webkit-transition: background $transitionTime ease-out;
      -moz-transition: background $transitionTime ease-out;
      -o-transition: background $transitionTime ease-out;
      transition: background $transitionTime ease-out;

      background-image: url(../img/social.png);
    }

    &:hover {
      .ico {
        background-image: url(../img/social-hover.png);
      }
    }

    &.facebook {
      .ico {
        background-position: -0px -0px;
      }
    }
    &.instagram {
      .ico {
        background-position: -29px -0px;
      }
    }
  }
}

header .menu.opened .social-itens {
    @include tablet {
      display: block;
      float: none;
      margin-left: 0px;
      margin-top: 25px;

      .it {
        margin-left: 5px;
        margin-right: 5px;
        .ico {
          background-image: url(../img/social-hover.png);
        }

        /* -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2); */
      }
    }
}
//header.fixed .social-itens {
header .social-itens {
  position: relative;
  top: auto;
  float: none;
  right: auto;
  margin-top: 0px;
  margin-bottom: 0px;

  vertical-align: middle;

  .it {
    .ico {
      background-image: url(../img/social.png);
    }
  }
}
header.fixed .menu.opened .social-itens {
  @include tablet {
    margin-top: 0px;
  }
}