section.banner {
  background: $color6;
  padding: 0px;
  //padding-top: 100px;
  padding-top: 0px;
  overflow: hidden;
  max-height: 640px;
  @include tablet {
      max-height: 480px;
  }

  .overlay {
      width: 100%;
      height: 100%;
      background-repeat: repeat-x;
      background-position: top center;
      position: absolute;
      z-index: 2;
      pointer-events: none;
  }
  .carousel-item  {
      background-size: cover;
  }
  /* .carousel-caption {
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      bottom: 0px;
  } */
}