section.banners {
  background: $color3;
  padding: 0px;
  //padding-top: 100px;
  padding-top: 0px;
  overflow: hidden;
  min-height: 1000px;
  @include tablet {
    min-height: 0px;
  }

  .overlay {
      width: 100%;
      height: 100%;
      background-repeat: repeat-x;
      background-position: top center;
      position: absolute;
      z-index: 2;
      pointer-events: none;
  }
  .carousel-item  {
      z-index: 1;
      background-size: cover;
      background-position: center;
      background-size: cover;
  }
  .carousel-caption {
    bottom: auto;
    top: 200px;
    text-align: left;
    max-width: 450px;

    .text, h2 {
      background-color: $color2;
      color: $color1!important;
      display: inline;
      white-space: pre-wrap;
      font-size: 1.5rem;
      line-height: 2.1rem;
      font-family: $font1;
      padding: 5px 10px 0px 10px; 
      padding-left: 0px;
      box-shadow: -10px 0 0 $color2;

      @include tablet {
        font-size: 1rem;
        line-height: 1.1rem;
      }
    }

    h2 {
      font-size: 3rem;
      line-height: 3.6rem;
      font-family: $font2;
      background-color: $color1;
      color: $color2!important;
      box-shadow: -10px 0 0 $color1;

      @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }

    .imgc {
      margin-left: -10px;
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
  .carousel-control {
    .carousel-indicators,
    .carousel-control-prev,
    .carousel-control-next {
      z-index: 3;
    }

    .carousel-indicators {
      top: auto;
      bottom: 350px;
      text-align: left;
      justify-content: left;

      @include tablet {
        top: auto;
        bottom: 50px;
      }

      li {
        background: $color1;
        height: 8px;
        width: 25px;
        box-shadow: 3px 3px 0px $color2;
        &:hover,
        &.active {
          background: $color2;
          box-shadow: -3px -3px 0px $color1;
        }
      }
    }
  }

  .btn {
    margin-left: -10px;
  }
}