@import "typo";
@import "base";

/* Base */
body {
  line-height: 1.7;
  color: $color4;
  font-weight: 400;
  font-size: 1rem; }

::-moz-selection {
  background: $color1;
  color: $color1; }

::selection {
  background: $color1;
  color: $color1; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: $color2; }
  a:hover {
    text-decoration: none;
  	color: $color1; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: $font2, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.border-2 {
  border-width: 2px; }

.text-black {
  color: $color1 !important; }

.bg-black {
  background: $color1 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.site-wrap:before {
  display: none;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-primary {
    background: $color2;
    border-color: $color2;
    color: $color1; }
    .btn.btn-primary:hover {
      background: $color1;
      border-color: $color1;
      color: #fff!important; }
    .btn.btn-primary.btn-black--hover:hover {
      background: #fff;
      color: $color1!important; }

.line-height-1 {
  line-height: 1 !important; }

.bg-black {
  background: $color1; }

.form-control {
  height: 43px;
  border-radius: 0px;
  font-family: $font1, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
textarea.form-control {
  height: 143px;
}
  .form-control:active, .form-control:focus {
    border-color: $color2; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .site-section-heading {
      font-size: 3rem; } }

.border-top {
  border-top: 1px solid #edf0f5 !important; }

.site-footer {
  padding: 4em 0;
  background: #333333; }
  @media (min-width: 768px) {
    .site-footer {
      padding: 8em 0; } }
  .site-footer .border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important; }
  .site-footer p {
    color: #737373; }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: $color1; }
  .site-footer a {
    color: #999999; }
    .site-footer a:hover {
      color: white; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer .footer-heading {
    font-size: 16px;
    color: #fff; }

.bg-text-line {
  display: inline;
  background: $color1;
  -webkit-box-shadow: 20px 0 0 $color1, -20px 0 0 $color1;
  box-shadow: 20px 0 0 $color1, -20px 0 0 $color1; }

.text-white-opacity-05 {
  color: rgba(0, 0, 0, 0.5); }

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5); }

.hover-bg-enlarge {
  overflow: hidden;
  position: relative; }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge {
      height: auto !important; } }
  .hover-bg-enlarge > div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .8s all ease-in-out;
    -o-transition: .8s all ease-in-out;
    transition: .8s all ease-in-out; }
  .hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge .bg-image-md-height {
      height: 300px !important; } }

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .bg-image.overlay {
    position: relative; }
    .bg-image.overlay:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7); }
  .bg-image > .container {
    position: relative;
    z-index: 1; }

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%; } }

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem; } }

/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  padding: 20px 0px;
  background: $color1 url(../img/menu-overlay.png) repeat-x bottom left;
  width: 100%;
  //border-bottom: rgba(0, 0, 0, 0.7);
  }
  .site-navbar .site-logo {
    position: relative;
    left: 0;
    //top: -10px;
    top: 0px;
  }
  .logo {
  	height: 90px;
  	width: 127px;
  	max-height: 100%;
  	background-size: contain;
  	background-image: url(../img/logo.png);
  	background-repeat: no-repeat;
    background-position: left center;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; 
  }
  .site-navbar .site-navigation.border-bottom {
    //border-bottom: 1px solid #f3f3f4 !important;
  }
  .site-navbar .site-navigation .site-menu {
    color: $color3;
    font-family: $font2;
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: $color3;
      background: $color2;
      display: inline-block;
      padding: 0px 10px; }
    .site-navbar .site-navigation .site-menu a {
      color: $color3;
      text-transform: uppercase;
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 0px 10px;
        color: $color3;
        display: inline-block;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: $color3;
          background: $color2; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid $color2;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        border-left: 1px solid #edf0f5;
        border-right: 1px solid #edf0f5;
        border-bottom: 1px solid #edf0f5;
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: $color1;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: $color1;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: $color2 !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #f4f5f9;
              color: #25262a; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f4f5f9;
            color: #25262a; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: $color2; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: $color1;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #fff; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      text-transform: uppercase;
      font-family: $font2;
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #e0e0e0; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: $color2; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li .active {
        color: $color2; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .sticky-wrapper .shrink {
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    .logo {
      height: 60px;
    }
  }

.border-primary {
  position: relative; }
  .border-primary h2 {
    font-weight: 700 !important; }
  .border-primary:after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 80px;
    height: 3px;
    background: $color2; }
  .border-primary.text-center:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .border-primary.text-left:after {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

.breadcrumb-custom {
  font-size: 1rem !important; }

.text-muted {
  color: #ccc !important;
  font-size: 12px;
  text-transform: uppercase; }

.text-primary {
	color: $color2!important;
}

.scrollable {
    z-index: 2;
    display: block;
    position: absolute;
    bottom: 68px;
    //left: calc(50% - 24px);
    left: calc(50% - 14px);
    //width: 48px;
    //height: 78px;

    //height: 122px;

    width: 28px;
    height: 48px;
    
    //background-image: url(../img/scroller.png);
    background-image: url(../img/mouse.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

    &::before, &::after {
        content: "";

        display: block;
        position: absolute;
        //bottom: -24px;
        bottom: -28px;
        //left: calc(50% - 14px);
        left: calc(50% - 9px);
        //width: 28px;
        width: 18px;
        height: 26px;
        
        background-image: url(../img/arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;

        -moz-animation: bounceDown 2s infinite;
        -webkit-animation: bounceDown 2s infinite;
        -o-animation: bounceDown 2s infinite;
        animation: bounceDown 2s infinite;
    }

    &::after {
        bottom: -34px;
    }
}
@keyframes bounceDown {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
    50%{
        -moz-transform: translateY(4px);
        -ms-transform: translateY(4px);
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    60% {
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.overlay-shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url(../img/overlay.png) repeat-x center bottom;
  background-position: cover;
  opacity: 0.5;
}

.social-item,
.lang-item {
  display: inline-block!important;
  vertical-align: middle;
  width: 32px!important;
  height: 32px!important;
  @include desktop {
    margin: auto!important;
    width: auto!important;
    padding-left: 18px;
    padding-top: 20px;
    display: inline-block!important;
  }
  .social-icon,
  .lang-icon {
    background: $color1;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    padding: 8px 0px!important;
    &:hover {
      background: $color2;
      span {
        color: $color3;
      }
    }
    span {
      display: block;
      text-align: center;
      color: $color3;
    }
  }
}

.lang-item {
  .lang-icon {
    text-align: center;
    span {
      width: 16px;
      height: 16px;
      margin-bottom: 5px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      @include desktop {
        margin-bottom: 15px;
      }
    }
    .icon-en { background-image: url(../img/flag-en.png); }
    .icon-pt { background-image: url(../img/flag-pt.png); }
    .icon-es { background-image: url(../img/flag-es.png); }
  }
}

.btn {
  border-radius: 0px;
  text-transform: uppercase;
  background: $color1;
  color: $color2;
  border: none;
  padding: 5px 10px 2px 10px;
  font-family: $font2;
  display: inline-block;
  &:hover {
    color: $color1;
    background: $color2;
  }
}

.defsec {
  color: $color1;

  h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-family: $font1;
    color: $color1;
    text-transform: none;
    display: inline-block;
    width: auto;

    @include tablet {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
    .line {
      display: block;
      width: 70%;
      height: 3px;
      background: $color1;
      margin-top: 10px;
      margin-left: -20px;
    }

    &.subtitle {
      font-family: $font2;
    }
  }

  .header {
    min-height: 320px;
    position: relative;
    padding-top: 130px;
    color: $color3;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .container {
      z-index: 1;
    }
    h1 {
      font-size: 2.5rem;
      line-height: 2.2rem;
      @include tablet {
        font-size: 1.5rem;
        line-height: 1.6rem;
      }
      /* @include phone {
        font-size: 1rem;
        line-height: 1.1rem;
      } */
    }
  }

  .content-panel {
    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
    iframe {
      width: 100%;
    }
  }
}

.gallery {
  .swiper {
    position: relative;
    z-index: 2;
    width: 80%;
    @include ultrahd {
      width: 100%;
    }
  }

  .swiper-control {
    position: absolute;
    width: 100%;
    height: 0px;
    z-index: 1;
    top: 50%;
    left: 0px;
  }

  .swiper-prev {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -119px;
    background: url(../img/left.png) no-repeat center center;
    background-size: contain;
    margin-left: 15px;
    width: 17px;
    height: 119px;
    @include ultrahd {
      width: 34px;
      height: 238px;
      margin-left: -59px;
    }
  }

  .swiper-next {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -119px;
    background: url(../img/right.png) no-repeat center center;
    background-size: contain;
    margin-right: 15px;
    width: 17px;
    height: 119px;
    @include ultrahd {
      width: 34px;
      height: 238px;
      margin-right: -59px;
    }
  }

  .card {
    background: none;
    border: 0px;
    border-radius: 0px;
    width: 0px;
    display: inline-block;
    margin-bottom: 25px;
    @include tablet {
      margin-bottom: 15px;
    }
    
    &:after {
      content: "";
      display: block;
      padding-bottom: 77%;
      @include tablet {
        //padding-bottom: 50%;
      }
    }

    .img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .hover {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: $color1;
      background: rgba(94, 39, 163, .9);
      opacity: 0;*filter: alpha(opacity = 0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

      transition: opacity $transitionTime, background $transitionTime, border $transitionTime;
      -moz-transition: opacity $transitionTime, background $transitionTime, border $transitionTime;
      -webkit-transition: opacity $transitionTime, background $transitionTime, border $transitionTime;
      -o-transition: opacity $transitionTime, background $transitionTime, border $transitionTime;

      color: $color3;
      text-align: center;

      p {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 25px;
        z-index: 3;
        color: $color3;
        text-align: center;
        box-sizing: border-box;
        font-family: $font1;
        font-size: 1rem;
        line-height: 1rem;
        @include tablet {
          font-size: .5rem;
          line-height: .8rem;
        }
      }
    }
    .linkFullDiv {
      z-index: 4;
    }

    &:hover {
      .hover {
        opacity: 1;*filter: alpha(opacity = 100); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      }
    }
  }
}

.swiper-nav {
  text-align: center;
  margin-top: 15px;
  .swiper-pagination-bullet {
    border-radius: 0px;
    margin: 0px 3px;
    padding: 0px;
    background: $color1;
    height: 8px;
    width: 25px;
    box-shadow: 3px 3px 0px $color2;
    &:hover {
      background: $color2;
      box-shadow: -3px -3px 0px $color1;
    }
  }
  .swiper-pagination-bullet-active {
    background: $color2;
    box-shadow: -3px -3px 0px $color1;
  }
}

.fancybox-content {
  background: none!important;
  iframe {
    max-width: 100%;
  }
}
.fancybox-close-small {
  color: $color1!important;
  &:hover {
    color: $color2!important;
  }
}

nav > .nav.nav-tabs {
  border-bottom: 1px solid $color1;

  .nav-link {
    border: 1px solid #dee2e6;
    border-bottom: 0px;
    color: $color1;
    margin: auto 5px;

    &.active {
      border-bottom: 0px solid $color1;
      background: $color1;
      color: $color2;
    }
  }
}

footer {
  margin-top: 20px;
  padding: 50px 0px;
  background: $color1;
  color: $color3;
  
  a {
    font-family: $font2;
    color: $color3;
    &:hover {
      color: $color2;
    }
  }
  .social-icon,
  .lang-icon {
    display: block;
  }
}

.copyright {
  font-size: .8rem;
  line-height: 2rem;
  color: #1f093b;
  float: left;
  width: 100%;
  background: #4d2085;
}

@import "home";
@import "internal";