@import "compass/css3/transform";
@import "compass/css3/transition";
// Import Ceaser Easing
@import "ceaser-easing";
 
$transitionTime: 0.5s;
$corBG1: #fff;
$corFonte1: #000;
$corFonte2: #c2fe42;
$corFonte3: #2f2c2c;
$corFonte4: #eee;

//@import "menu";
@import "style";

// Page defaults

html, body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.pageSize {position:absolute; top:0px; left:0px; visibility:hidden; width:100%; height:100%;}

.linkFull {
  display: block;
  width: 100%;
  height: 100%;
}

// Helpers

textarea {
  resize: none;
}

h1, h2, h3, h4, h5, small, .geo-field {
  text-transform: none!important;
}

.mb-1 {
  margin-bottom: 1px;
}
.mt-1 {
  margin-top: 1px;
}
.ml-1 {
  margin-left: 1px;
}
.mr-1 {
  margin-right: 1px;
}

.mt-21 {
  margin-top: 21px;
}

hr {
  margin-bottom: 20px;
}

// Loadie

.loadie {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $corFonte3;
	width: 0;
	height: 4px;
	z-index: 999999;
	-webkit-transition: width 0.1s ease-out;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
	//box-shadow: 0px;
}