@import "base";

// Navbar

.navbar {
  .brand-img {
    max-height: 29px;
  }
}

// Preloader

.preloader-it {
  background: none;
}

// Frames

.error-frame {
  width: 100%!important;
  height: 100%;
  min-height: 100%;
  border: none;
  background: none;
  display: block;
}

// DataTables

.dataTable {
  min-width: 100%!important;
  max-width: 100%!important;
  width: 100%!important;
}
.no-sort::after { display: none!important; }
.no-sort { pointer-events: none!important; cursor: default!important;
  input, div, label {
    pointer-events: all!important;
  }

  input, label {
    cursor: pointer!important;
  }
}
.checkbox, label, .select-reg {
  &, input {
    cursor: pointer!important;
  }
}

// Labels

.form-cadastro-padrao {
  label {
    text-transform: none!important;
  }
}

.checkbox label, .checkbox-inline, .radio label, .radio-inline {
  padding-left: 5px;
}

// Buttons

.link-add-modal {
  cursor: pointer;
}

// Modal

.modal-body {
  padding: 15px 0px;
}

// Menu 

.side-nav a {
  text-transform: none!important;
}

// Maps

.geo-search {
  margin-top: -1px;
}
.map-canvas {
  width: 100%!important;
  height:320px!important;
}

// ColorPicker

.input-group.colorpicker {
  padding: 0px;
  margin-top: 0px!important;
  width: 100%;
}
.colorpicker-visible {
  z-index: 999999;
}

// WYSI

.wysi-view {
  @media (max-width: 991px) { 
    img {
      width: auto!important;
      height: auto!important;
      max-width: 100%!important;
    }
  }
}

// Selects

.select2-selection--multiple {
  height: auto!important;
  min-height: 42px!important;
}

.select2-selection--multiple .select2-selection__rendered {
  display: block!important;
}

// Loader

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;

    display: none;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

.no-js #loader-wrapper {
    display: none;
}

// Tables

.grid {
  width: 100%;
  tr, td {
    vertical-align: top;
  }
}
.sorter {
  cursor: pointer!important;

  * {
    pointer-events: none;
  }
}

// MVC

.pad-table {
  td {
    padding: 5px;
  }
}

// Charts

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

// Icons

a i, .table-wrap i {
  font-size: 18px;
}
.side-nav a i {
  font-size: 18px!important;
}

// Imagens Select

.imagens-select {
  .imagem-select {
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;

    border: 5px solid gainsboro!important;
    border-radius: 5px;
    
    /* &.gal {
      cursor: default;
    } */

    &:hover, &.active {
      border-color: #3cb879!important;
      /* &.gal {
        border-color: gainsboro!important;
      } */
    }

    img {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;

      &.wide {
        height: 100%;
        min-height: 100%;
        width: auto;
        max-width: auto;
      }
      &.tall {
        width: 100%;
        min-width: 100%;
        height: auto;
        max-height: auto;
      }
    }
  }
}

// Dropzone

.dropzone {
  /* min-height: 320px;
  padding: 10px; */
  min-height: auto;
  padding: 0px;
  border: 0px;
  width: 100%;
  height: auto;
  display: block;

  &.dropzone-with-fields {
    .dz-btn-remove {
      &, * {
        cursor: pointer;
      }
      margin: 10px 0px;
    }
    .dz-details {
      position: relative;
      opacity: 1.0;*filter: alpha(opacity = 100); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    .dz-server-file {
      display: none;
    }
    .dropzone-field {
      &, * {
        cursor: pointer;
      }
      padding-left: 0px;
    }
    .dz-preview {
      width: 31%;
      @media (max-width: 1440px) { 
        width: 29%;
      }
      @media (max-width: 960px) { 
        width: 44%;
      }
      @media (max-width: 680px) { 
        width: 100%;
      }
    }
  }
}

.panel-arquivos {
  width: 100%;
  min-height: 120px;
  height: auto;
  display: block;  
  float: left;

  border-radius: 0px;
  border: 1px solid #eee;

  .center {
    margin-top: 3em;
    text-align: center;
    width: 100%;
    display: block;
  }

  .link {
    /* width: 100%;
    display: block; */
    width: auto;
    display: inline-block;
    position: relative;

    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }
}

.ga-contents-table {
  width: 100%;
  font-size: .66rem;
  tr {
    background: #fff;
    &:nth-child(odd) {
      background: #fafafa;
    }
    &.header {
      font-weight: bold;
    }
    &:hover {
      background: #eee;
    }
    vertical-align: top;
  }
  td {
    vertical-align: top;
    min-width: 60px;
    word-break: break-all;
    padding: 2px 0;
    width: auto;
    box-sizing: border-box;
  }
}

// Tabs

.tab-item {
    display: none;
    &.active {
        display: inline-block;
    }
}