@import "base";

html, body {margin:0px; padding:0px; font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif, Tahoma, Verdana; color: $corFonte1; font-size: 14px; height: 100%; width: 100%;
background: $corBG1; 
letter-spacing: 0px;
line-height: 14px;}
html {/*overflow-y:scroll;*/}
p {margin:0; padding:0;}
form {margin:0; padding:0;}
div, input, input:focus, textarea, textarea:focus, select, select:focus {outline: 0 none;}

body {
	background: #fff!important;
}

.page {width:100%; height:auto; min-height: 100%; position:relative; float: left; display: block; visibility: hidden; z-index: 1;}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.login {
	width: 80%;
	max-width: 420px;
	margin: auto;
	display: block;
	float: none;

	h1 {
		height: auto;
		width: 100%;
    text-align: center;
	}

	form {
		width: 100%;
		display: block;
		text-align: left;
		float: left;

		.control-label {
			text-transform: none!important;
			text-align: left;
		}

		input {
			width: 100%;
		}

		.input-group {
			margin-top: 10px;
		}

    .checkbox label {
      padding-left: 5px;
    }
	}
}

.sign {
	width: auto;
	margin: auto;
	display: block; 
  text-align: center;

  a {
    margin: auto;
    float: none;
    display: block;
    width: auto;
    text-align: center;
  }
} 

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input[type="text"],
input[type="password"],
select,
option,
textarea {
  box-sizing: border-box;
  display: inline-block;
  float: none;
  width: auto;
  height: 42px;
  position: relative;
  padding: 6px 12px;
  color: $corFonte3;
  background: $corBG1;
  font-size: 14px;
  line-height: 14px;
  font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
  text-transform: none;
  text-align: left;
  resize: none;
}
textarea {
  height: 150px;
}
.retornoPost {
  padding-top: 25px;
}
.form {
  width: 100%;
  display: block;
}
form {
  width: 100%;
  display: block;
  text-align: left;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $corFonte4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $corFonte4;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $corFonte4;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $corFonte4;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    $corFonte4;
}