/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.5.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2016, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight-next,
	.featherlight-previous {
		display: block;
		position: absolute;
		top: 0px;
		right: 20px;
		bottom: 0px;
		left: auto;
		cursor: pointer;
		/* preventing text selection */
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		/* IE9 hack, otherwise navigation doesn't appear */
		background: none; /*rgba(0,0,0,0)*/
		width: 53px;
	}

	.featherlight-previous {
		left: 20px;
		right: auto;
	}

	.featherlight-next:hover,
	.featherlight-previous:hover {
		background: none; /*rgba(255,255,255,0.25)*/
	}
	.featherlight-next:hover {
		background: url(images/right.png) no-repeat center center;
	}
	.featherlight-previous:hover {
		background: url(images/left.png) no-repeat center center;
	}


	.featherlight-next span,
	.featherlight-previous span {
		display: none;
		position: absolute;

		top: 50%;
		left: 5%;
		width: 82%;

		/* center horizontally */
		text-align: center;

		font-size: 60px;
		line-height: 60px;

		/* center vertically */
		margin-top: -26px;

		text-shadow: 0px 0px 5px #fff;
		color: #fff;
		font-style: normal;
		font-weight: normal;
	}
	.featherlight-next span {
		right: 5%;
		left: auto;
	}


	.featherlight-next:hover span,
	.featherlight-previous:hover span {
		display: inline-block;
	}

	/* Hide navigation while loading */
	.featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {
		display:none;
	}
}

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px){
	.featherlight-next:hover,
	.featherlight-previous:hover {
		background: none;
	}
	.featherlight-next span,
	.featherlight-previous span {
		display: block;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight-next,
	.featherlight-previous {
		top: 10px;
		right: 10px;
		left: 75%;
	}

	.featherlight-previous {
		left: 10px;
		right: 75%;
	}

	.featherlight-next span,
	.featherlight-previous span {
		margin-top: -26px;
		font-size: 53px;
	}
}
