label.checkbox span.holder{height:24px;background:url(images/btnButtonInativo.png) no-repeat no-repeat top left;}
label.radio span.holder{height:24px;background:url(images/btnButtonInativo.png) no-repeat top left;}
label.checkbox:hover span.holder,label.radio:hover span.holder{background:url(images/btnButtonAtivo.png) no-repeat top left; cursor:pointer;}
label.checked span.holder,label.checked span.holder,label.checked:hover span.holder,label.checked:hover span.holder {background:url(images/btnButtonAtivo.png) no-repeat top left;}
label.list{float:left;clear:left;margin:0 0 5px 0}
label.inline{float:left;margin:0 10px 0 0}
input.hiddenCheckbox{position:absolute;left:-10000px}
label.prettyCheckbox span.holderWrap {display:block;float:left;position:relative;margin-right:5px;overflow:hidden}
label.prettyCheckbox span.holder{display:block;position:absolute;top:0;left:0}