/*======================================
  Selectric v1.9.6
======================================*/

.selectric-wrapper {
  position: relative;
  cursor: pointer;

  width: 100%;
  display: inline-block;

  transition: all 240ms ease-out;
  -webkit-transition: all 240ms ease-out;
  -moz-transition: all 240ms ease-out;
  -ms-transition: all 240ms ease-out;
  -o-transition: all 240ms ease-out;
}
.selectric-wrapper.small {
  width: 28%;
  display: inline-block;
}

.selectric-responsive {
  /*width: 100%;*/
  width: 28%;
}

.selectric {
  width: 100%;
  /*border: 1px solid #DDD;
  background: #F8F8F8;*/
  position: relative;
}
.selectric .label {
  /*display: block;
  margin: 0 38px 0 10px;
  font-size: 12px;
  line-height: 38px;
  color: #444;
  height: 38px;*/

  line-height: 47px;
  display: inline-block;
  position: relative;
  width: 100%;
  color: #333D47;
  font-size: 17px;
  box-sizing: border-box;
font-family: 'Titillium-Regular', Arial, Tahoma, Verdana;
  resize: none;
  z-index: 2;
  padding: 6px 12px;
  text-align: left;
  vertical-align: middle;

  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;

  transition: all 240ms ease-out;
  -webkit-transition: all 240ms ease-out;
  -moz-transition: all 240ms ease-out;
  -ms-transition: all 240ms ease-out;
  -o-transition: all 240ms ease-out;
}
.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: "";
  visibility: hidden;
}
.selectric .button:after {
  /*content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none;*/
  content: "";
  color: white;
  display: block;
  position: absolute;
  background-image: url(images/dropdown_arrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 10px;
  top: 23px;
  right: 15px;
  transition: transform 0.5s;
  cursor: pointer;
  z-index: 3;
  visibility: visible;
}

.selectric-hover .selectric {
  /*border-color: #C4C4C4;*/
}
.selectric-hover .selectric .button {
  /*color: #A2A2A2;*/
}
.selectric-hover .selectric .button:after {
  /*border-top-color: #A2A2A2;*/
}

.selectric-open {
  z-index: 9999;
}
.selectric-open .button:after {
  transform: rotate(-90deg);
}
.selectric-open .selectric {
  /*border-color: #C4C4C4;*/
}
.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}
.selectric-hide-select select {
  position: absolute;
  left: -100%;
  display: none;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /*background: #F8F8F8;
  border: 1px solid #C4C4C4;*/
  background: none;
  z-index: -1;
  /*box-shadow: 0 0 10px -6px;*/
}
.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}
.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}
.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
  width: 100%;
  margin-top: 4px;
}
.selectric-items li {
  /*display: block;
  padding: 8px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #EEE;
  color: #666;
  cursor: pointer;*/
  line-height: 20pt;
  display: inline-block;
  position: relative;
  width: 100%;
  border: 1px solid #828282;
  color: white;
  font-size: 10pt;
  font-weight: bold;
  padding: 10px 22px;
  margin-bottom: 4px;
  box-sizing: border-box;
  resize: none;
  z-index: 2;
  background-color: #333D47;

  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;

  transition: all 240ms ease-out;
  -webkit-transition: all 240ms ease-out;
  -moz-transition: all 240ms ease-out;
  -ms-transition: all 240ms ease-out;
  -o-transition: all 240ms ease-out;
}
.selectric-items li.selected {
  background: #FFF;
  color: #444;
}
.selectric-items li:hover {
  background: #F0F0F0;
  color: #444;
}
.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  color: #444;
}
.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}
.selectric-items .selectric-group li {
  padding-left: 25px;
}

.fancybox-inner .selectric .label {
    line-height: 25px;
}

.fancybox-inner .selectric .button::after {
    top: 13px;
}
