/*!
 * Font Awesome Free 5.2.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/font-awesome/fa-regular-400.eot");
  src: url("fonts/font-awesome/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("fonts/font-awesome/fa-regular-400.woff2") format("woff2"), url("fonts/font-awesome/fa-regular-400.woff") format("woff"), url("fonts/font-awesome/fa-regular-400.ttf") format("truetype"), url("fonts/font-awesome/fa-regular-400.svg#fontawesome") format("svg");
}
/* line 19, ../../_sass/font-awesome/regular.scss */
.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}
