/*!
 * Font Awesome Free 5.2.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
/* line 1, ../../_sass/font-awesome/_shims.scss */
.fa.fa-glass:before {
  content: "\f000";
}

/* line 3, ../../_sass/font-awesome/_shims.scss */
.fa.fa-meetup {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 8, ../../_sass/font-awesome/_shims.scss */
.fa.fa-star-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 12, ../../_sass/font-awesome/_shims.scss */
.fa.fa-star-o:before {
  content: "\f005";
}

/* line 14, ../../_sass/font-awesome/_shims.scss */
.fa.fa-remove:before {
  content: "\f00d";
}

/* line 16, ../../_sass/font-awesome/_shims.scss */
.fa.fa-close:before {
  content: "\f00d";
}

/* line 18, ../../_sass/font-awesome/_shims.scss */
.fa.fa-gear:before {
  content: "\f013";
}

/* line 20, ../../_sass/font-awesome/_shims.scss */
.fa.fa-trash-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 24, ../../_sass/font-awesome/_shims.scss */
.fa.fa-trash-o:before {
  content: "\f2ed";
}

/* line 26, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 30, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-o:before {
  content: "\f15b";
}

/* line 32, ../../_sass/font-awesome/_shims.scss */
.fa.fa-clock-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 36, ../../_sass/font-awesome/_shims.scss */
.fa.fa-clock-o:before {
  content: "\f017";
}

/* line 38, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrow-circle-o-down {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 42, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrow-circle-o-down:before {
  content: "\f358";
}

/* line 44, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrow-circle-o-up {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 48, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrow-circle-o-up:before {
  content: "\f35b";
}

/* line 50, ../../_sass/font-awesome/_shims.scss */
.fa.fa-play-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 54, ../../_sass/font-awesome/_shims.scss */
.fa.fa-play-circle-o:before {
  content: "\f144";
}

/* line 56, ../../_sass/font-awesome/_shims.scss */
.fa.fa-repeat:before {
  content: "\f01e";
}

/* line 58, ../../_sass/font-awesome/_shims.scss */
.fa.fa-rotate-right:before {
  content: "\f01e";
}

/* line 60, ../../_sass/font-awesome/_shims.scss */
.fa.fa-refresh:before {
  content: "\f021";
}

/* line 62, ../../_sass/font-awesome/_shims.scss */
.fa.fa-list-alt {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 67, ../../_sass/font-awesome/_shims.scss */
.fa.fa-dedent:before {
  content: "\f03b";
}

/* line 69, ../../_sass/font-awesome/_shims.scss */
.fa.fa-video-camera:before {
  content: "\f03d";
}

/* line 71, ../../_sass/font-awesome/_shims.scss */
.fa.fa-picture-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 75, ../../_sass/font-awesome/_shims.scss */
.fa.fa-picture-o:before {
  content: "\f03e";
}

/* line 77, ../../_sass/font-awesome/_shims.scss */
.fa.fa-photo {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 81, ../../_sass/font-awesome/_shims.scss */
.fa.fa-photo:before {
  content: "\f03e";
}

/* line 83, ../../_sass/font-awesome/_shims.scss */
.fa.fa-image {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 87, ../../_sass/font-awesome/_shims.scss */
.fa.fa-image:before {
  content: "\f03e";
}

/* line 89, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pencil:before {
  content: "\f303";
}

/* line 91, ../../_sass/font-awesome/_shims.scss */
.fa.fa-map-marker:before {
  content: "\f3c5";
}

/* line 93, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pencil-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 97, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pencil-square-o:before {
  content: "\f044";
}

/* line 99, ../../_sass/font-awesome/_shims.scss */
.fa.fa-share-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 103, ../../_sass/font-awesome/_shims.scss */
.fa.fa-share-square-o:before {
  content: "\f14d";
}

/* line 105, ../../_sass/font-awesome/_shims.scss */
.fa.fa-check-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 109, ../../_sass/font-awesome/_shims.scss */
.fa.fa-check-square-o:before {
  content: "\f14a";
}

/* line 111, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrows:before {
  content: "\f0b2";
}

/* line 113, ../../_sass/font-awesome/_shims.scss */
.fa.fa-times-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 117, ../../_sass/font-awesome/_shims.scss */
.fa.fa-times-circle-o:before {
  content: "\f057";
}

/* line 119, ../../_sass/font-awesome/_shims.scss */
.fa.fa-check-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 123, ../../_sass/font-awesome/_shims.scss */
.fa.fa-check-circle-o:before {
  content: "\f058";
}

/* line 125, ../../_sass/font-awesome/_shims.scss */
.fa.fa-mail-forward:before {
  content: "\f064";
}

/* line 127, ../../_sass/font-awesome/_shims.scss */
.fa.fa-eye {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 132, ../../_sass/font-awesome/_shims.scss */
.fa.fa-eye-slash {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 137, ../../_sass/font-awesome/_shims.scss */
.fa.fa-warning:before {
  content: "\f071";
}

/* line 139, ../../_sass/font-awesome/_shims.scss */
.fa.fa-calendar:before {
  content: "\f073";
}

/* line 141, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrows-v:before {
  content: "\f338";
}

/* line 143, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrows-h:before {
  content: "\f337";
}

/* line 145, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bar-chart {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 149, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bar-chart:before {
  content: "\f080";
}

/* line 151, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bar-chart-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 155, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bar-chart-o:before {
  content: "\f080";
}

/* line 157, ../../_sass/font-awesome/_shims.scss */
.fa.fa-twitter-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 162, ../../_sass/font-awesome/_shims.scss */
.fa.fa-facebook-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 167, ../../_sass/font-awesome/_shims.scss */
.fa.fa-gears:before {
  content: "\f085";
}

/* line 169, ../../_sass/font-awesome/_shims.scss */
.fa.fa-thumbs-o-up {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 173, ../../_sass/font-awesome/_shims.scss */
.fa.fa-thumbs-o-up:before {
  content: "\f164";
}

/* line 175, ../../_sass/font-awesome/_shims.scss */
.fa.fa-thumbs-o-down {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 179, ../../_sass/font-awesome/_shims.scss */
.fa.fa-thumbs-o-down:before {
  content: "\f165";
}

/* line 181, ../../_sass/font-awesome/_shims.scss */
.fa.fa-heart-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 185, ../../_sass/font-awesome/_shims.scss */
.fa.fa-heart-o:before {
  content: "\f004";
}

/* line 187, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sign-out:before {
  content: "\f2f5";
}

/* line 189, ../../_sass/font-awesome/_shims.scss */
.fa.fa-linkedin-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 193, ../../_sass/font-awesome/_shims.scss */
.fa.fa-linkedin-square:before {
  content: "\f08c";
}

/* line 195, ../../_sass/font-awesome/_shims.scss */
.fa.fa-thumb-tack:before {
  content: "\f08d";
}

/* line 197, ../../_sass/font-awesome/_shims.scss */
.fa.fa-external-link:before {
  content: "\f35d";
}

/* line 199, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sign-in:before {
  content: "\f2f6";
}

/* line 201, ../../_sass/font-awesome/_shims.scss */
.fa.fa-github-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 206, ../../_sass/font-awesome/_shims.scss */
.fa.fa-lemon-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 210, ../../_sass/font-awesome/_shims.scss */
.fa.fa-lemon-o:before {
  content: "\f094";
}

/* line 212, ../../_sass/font-awesome/_shims.scss */
.fa.fa-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 216, ../../_sass/font-awesome/_shims.scss */
.fa.fa-square-o:before {
  content: "\f0c8";
}

/* line 218, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bookmark-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 222, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bookmark-o:before {
  content: "\f02e";
}

/* line 224, ../../_sass/font-awesome/_shims.scss */
.fa.fa-twitter {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 229, ../../_sass/font-awesome/_shims.scss */
.fa.fa-facebook {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 233, ../../_sass/font-awesome/_shims.scss */
.fa.fa-facebook:before {
  content: "\f39e";
}

/* line 235, ../../_sass/font-awesome/_shims.scss */
.fa.fa-facebook-f {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 239, ../../_sass/font-awesome/_shims.scss */
.fa.fa-facebook-f:before {
  content: "\f39e";
}

/* line 241, ../../_sass/font-awesome/_shims.scss */
.fa.fa-github {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 246, ../../_sass/font-awesome/_shims.scss */
.fa.fa-credit-card {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 251, ../../_sass/font-awesome/_shims.scss */
.fa.fa-feed:before {
  content: "\f09e";
}

/* line 253, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hdd-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 257, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hdd-o:before {
  content: "\f0a0";
}

/* line 259, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-o-right {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 263, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-o-right:before {
  content: "\f0a4";
}

/* line 265, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-o-left {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 269, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-o-left:before {
  content: "\f0a5";
}

/* line 271, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-o-up {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 275, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-o-up:before {
  content: "\f0a6";
}

/* line 277, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-o-down {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 281, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-o-down:before {
  content: "\f0a7";
}

/* line 283, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrows-alt:before {
  content: "\f31e";
}

/* line 285, ../../_sass/font-awesome/_shims.scss */
.fa.fa-group:before {
  content: "\f0c0";
}

/* line 287, ../../_sass/font-awesome/_shims.scss */
.fa.fa-chain:before {
  content: "\f0c1";
}

/* line 289, ../../_sass/font-awesome/_shims.scss */
.fa.fa-scissors:before {
  content: "\f0c4";
}

/* line 291, ../../_sass/font-awesome/_shims.scss */
.fa.fa-files-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 295, ../../_sass/font-awesome/_shims.scss */
.fa.fa-files-o:before {
  content: "\f0c5";
}

/* line 297, ../../_sass/font-awesome/_shims.scss */
.fa.fa-floppy-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 301, ../../_sass/font-awesome/_shims.scss */
.fa.fa-floppy-o:before {
  content: "\f0c7";
}

/* line 303, ../../_sass/font-awesome/_shims.scss */
.fa.fa-navicon:before {
  content: "\f0c9";
}

/* line 305, ../../_sass/font-awesome/_shims.scss */
.fa.fa-reorder:before {
  content: "\f0c9";
}

/* line 307, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pinterest {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 312, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pinterest-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 317, ../../_sass/font-awesome/_shims.scss */
.fa.fa-google-plus-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 322, ../../_sass/font-awesome/_shims.scss */
.fa.fa-google-plus {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 326, ../../_sass/font-awesome/_shims.scss */
.fa.fa-google-plus:before {
  content: "\f0d5";
}

/* line 328, ../../_sass/font-awesome/_shims.scss */
.fa.fa-money {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 332, ../../_sass/font-awesome/_shims.scss */
.fa.fa-money:before {
  content: "\f3d1";
}

/* line 334, ../../_sass/font-awesome/_shims.scss */
.fa.fa-unsorted:before {
  content: "\f0dc";
}

/* line 336, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sort-desc:before {
  content: "\f0dd";
}

/* line 338, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sort-asc:before {
  content: "\f0de";
}

/* line 340, ../../_sass/font-awesome/_shims.scss */
.fa.fa-linkedin {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 344, ../../_sass/font-awesome/_shims.scss */
.fa.fa-linkedin:before {
  content: "\f0e1";
}

/* line 346, ../../_sass/font-awesome/_shims.scss */
.fa.fa-rotate-left:before {
  content: "\f0e2";
}

/* line 348, ../../_sass/font-awesome/_shims.scss */
.fa.fa-legal:before {
  content: "\f0e3";
}

/* line 350, ../../_sass/font-awesome/_shims.scss */
.fa.fa-tachometer:before {
  content: "\f3fd";
}

/* line 352, ../../_sass/font-awesome/_shims.scss */
.fa.fa-dashboard:before {
  content: "\f3fd";
}

/* line 354, ../../_sass/font-awesome/_shims.scss */
.fa.fa-comment-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 358, ../../_sass/font-awesome/_shims.scss */
.fa.fa-comment-o:before {
  content: "\f075";
}

/* line 360, ../../_sass/font-awesome/_shims.scss */
.fa.fa-comments-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 364, ../../_sass/font-awesome/_shims.scss */
.fa.fa-comments-o:before {
  content: "\f086";
}

/* line 366, ../../_sass/font-awesome/_shims.scss */
.fa.fa-flash:before {
  content: "\f0e7";
}

/* line 368, ../../_sass/font-awesome/_shims.scss */
.fa.fa-clipboard {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 373, ../../_sass/font-awesome/_shims.scss */
.fa.fa-paste {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 377, ../../_sass/font-awesome/_shims.scss */
.fa.fa-paste:before {
  content: "\f328";
}

/* line 379, ../../_sass/font-awesome/_shims.scss */
.fa.fa-lightbulb-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 383, ../../_sass/font-awesome/_shims.scss */
.fa.fa-lightbulb-o:before {
  content: "\f0eb";
}

/* line 385, ../../_sass/font-awesome/_shims.scss */
.fa.fa-exchange:before {
  content: "\f362";
}

/* line 387, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cloud-download:before {
  content: "\f381";
}

/* line 389, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cloud-upload:before {
  content: "\f382";
}

/* line 391, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bell-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 395, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bell-o:before {
  content: "\f0f3";
}

/* line 397, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cutlery:before {
  content: "\f2e7";
}

/* line 399, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-text-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 403, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-text-o:before {
  content: "\f15c";
}

/* line 405, ../../_sass/font-awesome/_shims.scss */
.fa.fa-building-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 409, ../../_sass/font-awesome/_shims.scss */
.fa.fa-building-o:before {
  content: "\f1ad";
}

/* line 411, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hospital-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 415, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hospital-o:before {
  content: "\f0f8";
}

/* line 417, ../../_sass/font-awesome/_shims.scss */
.fa.fa-tablet:before {
  content: "\f3fa";
}

/* line 419, ../../_sass/font-awesome/_shims.scss */
.fa.fa-mobile:before {
  content: "\f3cd";
}

/* line 421, ../../_sass/font-awesome/_shims.scss */
.fa.fa-mobile-phone:before {
  content: "\f3cd";
}

/* line 423, ../../_sass/font-awesome/_shims.scss */
.fa.fa-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 427, ../../_sass/font-awesome/_shims.scss */
.fa.fa-circle-o:before {
  content: "\f111";
}

/* line 429, ../../_sass/font-awesome/_shims.scss */
.fa.fa-mail-reply:before {
  content: "\f3e5";
}

/* line 431, ../../_sass/font-awesome/_shims.scss */
.fa.fa-github-alt {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 436, ../../_sass/font-awesome/_shims.scss */
.fa.fa-folder-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 440, ../../_sass/font-awesome/_shims.scss */
.fa.fa-folder-o:before {
  content: "\f07b";
}

/* line 442, ../../_sass/font-awesome/_shims.scss */
.fa.fa-folder-open-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 446, ../../_sass/font-awesome/_shims.scss */
.fa.fa-folder-open-o:before {
  content: "\f07c";
}

/* line 448, ../../_sass/font-awesome/_shims.scss */
.fa.fa-smile-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 452, ../../_sass/font-awesome/_shims.scss */
.fa.fa-smile-o:before {
  content: "\f118";
}

/* line 454, ../../_sass/font-awesome/_shims.scss */
.fa.fa-frown-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 458, ../../_sass/font-awesome/_shims.scss */
.fa.fa-frown-o:before {
  content: "\f119";
}

/* line 460, ../../_sass/font-awesome/_shims.scss */
.fa.fa-meh-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 464, ../../_sass/font-awesome/_shims.scss */
.fa.fa-meh-o:before {
  content: "\f11a";
}

/* line 466, ../../_sass/font-awesome/_shims.scss */
.fa.fa-keyboard-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 470, ../../_sass/font-awesome/_shims.scss */
.fa.fa-keyboard-o:before {
  content: "\f11c";
}

/* line 472, ../../_sass/font-awesome/_shims.scss */
.fa.fa-flag-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 476, ../../_sass/font-awesome/_shims.scss */
.fa.fa-flag-o:before {
  content: "\f024";
}

/* line 478, ../../_sass/font-awesome/_shims.scss */
.fa.fa-mail-reply-all:before {
  content: "\f122";
}

/* line 480, ../../_sass/font-awesome/_shims.scss */
.fa.fa-star-half-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 484, ../../_sass/font-awesome/_shims.scss */
.fa.fa-star-half-o:before {
  content: "\f089";
}

/* line 486, ../../_sass/font-awesome/_shims.scss */
.fa.fa-star-half-empty {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 490, ../../_sass/font-awesome/_shims.scss */
.fa.fa-star-half-empty:before {
  content: "\f089";
}

/* line 492, ../../_sass/font-awesome/_shims.scss */
.fa.fa-star-half-full {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 496, ../../_sass/font-awesome/_shims.scss */
.fa.fa-star-half-full:before {
  content: "\f089";
}

/* line 498, ../../_sass/font-awesome/_shims.scss */
.fa.fa-code-fork:before {
  content: "\f126";
}

/* line 500, ../../_sass/font-awesome/_shims.scss */
.fa.fa-chain-broken:before {
  content: "\f127";
}

/* line 502, ../../_sass/font-awesome/_shims.scss */
.fa.fa-shield:before {
  content: "\f3ed";
}

/* line 504, ../../_sass/font-awesome/_shims.scss */
.fa.fa-calendar-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 508, ../../_sass/font-awesome/_shims.scss */
.fa.fa-calendar-o:before {
  content: "\f133";
}

/* line 510, ../../_sass/font-awesome/_shims.scss */
.fa.fa-maxcdn {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 515, ../../_sass/font-awesome/_shims.scss */
.fa.fa-html5 {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 520, ../../_sass/font-awesome/_shims.scss */
.fa.fa-css3 {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 525, ../../_sass/font-awesome/_shims.scss */
.fa.fa-ticket:before {
  content: "\f3ff";
}

/* line 527, ../../_sass/font-awesome/_shims.scss */
.fa.fa-minus-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 531, ../../_sass/font-awesome/_shims.scss */
.fa.fa-minus-square-o:before {
  content: "\f146";
}

/* line 533, ../../_sass/font-awesome/_shims.scss */
.fa.fa-level-up:before {
  content: "\f3bf";
}

/* line 535, ../../_sass/font-awesome/_shims.scss */
.fa.fa-level-down:before {
  content: "\f3be";
}

/* line 537, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pencil-square:before {
  content: "\f14b";
}

/* line 539, ../../_sass/font-awesome/_shims.scss */
.fa.fa-external-link-square:before {
  content: "\f360";
}

/* line 541, ../../_sass/font-awesome/_shims.scss */
.fa.fa-compass {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 546, ../../_sass/font-awesome/_shims.scss */
.fa.fa-caret-square-o-down {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 550, ../../_sass/font-awesome/_shims.scss */
.fa.fa-caret-square-o-down:before {
  content: "\f150";
}

/* line 552, ../../_sass/font-awesome/_shims.scss */
.fa.fa-toggle-down {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 556, ../../_sass/font-awesome/_shims.scss */
.fa.fa-toggle-down:before {
  content: "\f150";
}

/* line 558, ../../_sass/font-awesome/_shims.scss */
.fa.fa-caret-square-o-up {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 562, ../../_sass/font-awesome/_shims.scss */
.fa.fa-caret-square-o-up:before {
  content: "\f151";
}

/* line 564, ../../_sass/font-awesome/_shims.scss */
.fa.fa-toggle-up {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 568, ../../_sass/font-awesome/_shims.scss */
.fa.fa-toggle-up:before {
  content: "\f151";
}

/* line 570, ../../_sass/font-awesome/_shims.scss */
.fa.fa-caret-square-o-right {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 574, ../../_sass/font-awesome/_shims.scss */
.fa.fa-caret-square-o-right:before {
  content: "\f152";
}

/* line 576, ../../_sass/font-awesome/_shims.scss */
.fa.fa-toggle-right {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 580, ../../_sass/font-awesome/_shims.scss */
.fa.fa-toggle-right:before {
  content: "\f152";
}

/* line 582, ../../_sass/font-awesome/_shims.scss */
.fa.fa-eur:before {
  content: "\f153";
}

/* line 584, ../../_sass/font-awesome/_shims.scss */
.fa.fa-euro:before {
  content: "\f153";
}

/* line 586, ../../_sass/font-awesome/_shims.scss */
.fa.fa-gbp:before {
  content: "\f154";
}

/* line 588, ../../_sass/font-awesome/_shims.scss */
.fa.fa-usd:before {
  content: "\f155";
}

/* line 590, ../../_sass/font-awesome/_shims.scss */
.fa.fa-dollar:before {
  content: "\f155";
}

/* line 592, ../../_sass/font-awesome/_shims.scss */
.fa.fa-inr:before {
  content: "\f156";
}

/* line 594, ../../_sass/font-awesome/_shims.scss */
.fa.fa-rupee:before {
  content: "\f156";
}

/* line 596, ../../_sass/font-awesome/_shims.scss */
.fa.fa-jpy:before {
  content: "\f157";
}

/* line 598, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cny:before {
  content: "\f157";
}

/* line 600, ../../_sass/font-awesome/_shims.scss */
.fa.fa-rmb:before {
  content: "\f157";
}

/* line 602, ../../_sass/font-awesome/_shims.scss */
.fa.fa-yen:before {
  content: "\f157";
}

/* line 604, ../../_sass/font-awesome/_shims.scss */
.fa.fa-rub:before {
  content: "\f158";
}

/* line 606, ../../_sass/font-awesome/_shims.scss */
.fa.fa-ruble:before {
  content: "\f158";
}

/* line 608, ../../_sass/font-awesome/_shims.scss */
.fa.fa-rouble:before {
  content: "\f158";
}

/* line 610, ../../_sass/font-awesome/_shims.scss */
.fa.fa-krw:before {
  content: "\f159";
}

/* line 612, ../../_sass/font-awesome/_shims.scss */
.fa.fa-won:before {
  content: "\f159";
}

/* line 614, ../../_sass/font-awesome/_shims.scss */
.fa.fa-btc {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 619, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bitcoin {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 623, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bitcoin:before {
  content: "\f15a";
}

/* line 625, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-text:before {
  content: "\f15c";
}

/* line 627, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sort-alpha-asc:before {
  content: "\f15d";
}

/* line 629, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sort-alpha-desc:before {
  content: "\f15e";
}

/* line 631, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sort-amount-asc:before {
  content: "\f160";
}

/* line 633, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sort-amount-desc:before {
  content: "\f161";
}

/* line 635, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sort-numeric-asc:before {
  content: "\f162";
}

/* line 637, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sort-numeric-desc:before {
  content: "\f163";
}

/* line 639, ../../_sass/font-awesome/_shims.scss */
.fa.fa-youtube-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 644, ../../_sass/font-awesome/_shims.scss */
.fa.fa-youtube {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 649, ../../_sass/font-awesome/_shims.scss */
.fa.fa-xing {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 654, ../../_sass/font-awesome/_shims.scss */
.fa.fa-xing-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 659, ../../_sass/font-awesome/_shims.scss */
.fa.fa-youtube-play {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 663, ../../_sass/font-awesome/_shims.scss */
.fa.fa-youtube-play:before {
  content: "\f167";
}

/* line 665, ../../_sass/font-awesome/_shims.scss */
.fa.fa-dropbox {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 670, ../../_sass/font-awesome/_shims.scss */
.fa.fa-stack-overflow {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 675, ../../_sass/font-awesome/_shims.scss */
.fa.fa-instagram {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 680, ../../_sass/font-awesome/_shims.scss */
.fa.fa-flickr {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 685, ../../_sass/font-awesome/_shims.scss */
.fa.fa-adn {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 690, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bitbucket {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 695, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bitbucket-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 699, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bitbucket-square:before {
  content: "\f171";
}

/* line 701, ../../_sass/font-awesome/_shims.scss */
.fa.fa-tumblr {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 706, ../../_sass/font-awesome/_shims.scss */
.fa.fa-tumblr-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 711, ../../_sass/font-awesome/_shims.scss */
.fa.fa-long-arrow-down:before {
  content: "\f309";
}

/* line 713, ../../_sass/font-awesome/_shims.scss */
.fa.fa-long-arrow-up:before {
  content: "\f30c";
}

/* line 715, ../../_sass/font-awesome/_shims.scss */
.fa.fa-long-arrow-left:before {
  content: "\f30a";
}

/* line 717, ../../_sass/font-awesome/_shims.scss */
.fa.fa-long-arrow-right:before {
  content: "\f30b";
}

/* line 719, ../../_sass/font-awesome/_shims.scss */
.fa.fa-apple {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 724, ../../_sass/font-awesome/_shims.scss */
.fa.fa-windows {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 729, ../../_sass/font-awesome/_shims.scss */
.fa.fa-android {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 734, ../../_sass/font-awesome/_shims.scss */
.fa.fa-linux {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 739, ../../_sass/font-awesome/_shims.scss */
.fa.fa-dribbble {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 744, ../../_sass/font-awesome/_shims.scss */
.fa.fa-skype {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 749, ../../_sass/font-awesome/_shims.scss */
.fa.fa-foursquare {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 754, ../../_sass/font-awesome/_shims.scss */
.fa.fa-trello {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 759, ../../_sass/font-awesome/_shims.scss */
.fa.fa-gratipay {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 764, ../../_sass/font-awesome/_shims.scss */
.fa.fa-gittip {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 768, ../../_sass/font-awesome/_shims.scss */
.fa.fa-gittip:before {
  content: "\f184";
}

/* line 770, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sun-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 774, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sun-o:before {
  content: "\f185";
}

/* line 776, ../../_sass/font-awesome/_shims.scss */
.fa.fa-moon-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 780, ../../_sass/font-awesome/_shims.scss */
.fa.fa-moon-o:before {
  content: "\f186";
}

/* line 782, ../../_sass/font-awesome/_shims.scss */
.fa.fa-vk {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 787, ../../_sass/font-awesome/_shims.scss */
.fa.fa-weibo {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 792, ../../_sass/font-awesome/_shims.scss */
.fa.fa-renren {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 797, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pagelines {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 802, ../../_sass/font-awesome/_shims.scss */
.fa.fa-stack-exchange {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 807, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrow-circle-o-right {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 811, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrow-circle-o-right:before {
  content: "\f35a";
}

/* line 813, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrow-circle-o-left {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 817, ../../_sass/font-awesome/_shims.scss */
.fa.fa-arrow-circle-o-left:before {
  content: "\f359";
}

/* line 819, ../../_sass/font-awesome/_shims.scss */
.fa.fa-caret-square-o-left {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 823, ../../_sass/font-awesome/_shims.scss */
.fa.fa-caret-square-o-left:before {
  content: "\f191";
}

/* line 825, ../../_sass/font-awesome/_shims.scss */
.fa.fa-toggle-left {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 829, ../../_sass/font-awesome/_shims.scss */
.fa.fa-toggle-left:before {
  content: "\f191";
}

/* line 831, ../../_sass/font-awesome/_shims.scss */
.fa.fa-dot-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 835, ../../_sass/font-awesome/_shims.scss */
.fa.fa-dot-circle-o:before {
  content: "\f192";
}

/* line 837, ../../_sass/font-awesome/_shims.scss */
.fa.fa-vimeo-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 842, ../../_sass/font-awesome/_shims.scss */
.fa.fa-try:before {
  content: "\f195";
}

/* line 844, ../../_sass/font-awesome/_shims.scss */
.fa.fa-turkish-lira:before {
  content: "\f195";
}

/* line 846, ../../_sass/font-awesome/_shims.scss */
.fa.fa-plus-square-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 850, ../../_sass/font-awesome/_shims.scss */
.fa.fa-plus-square-o:before {
  content: "\f0fe";
}

/* line 852, ../../_sass/font-awesome/_shims.scss */
.fa.fa-slack {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 857, ../../_sass/font-awesome/_shims.scss */
.fa.fa-wordpress {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 862, ../../_sass/font-awesome/_shims.scss */
.fa.fa-openid {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 867, ../../_sass/font-awesome/_shims.scss */
.fa.fa-institution:before {
  content: "\f19c";
}

/* line 869, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bank:before {
  content: "\f19c";
}

/* line 871, ../../_sass/font-awesome/_shims.scss */
.fa.fa-mortar-board:before {
  content: "\f19d";
}

/* line 873, ../../_sass/font-awesome/_shims.scss */
.fa.fa-yahoo {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 878, ../../_sass/font-awesome/_shims.scss */
.fa.fa-google {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 883, ../../_sass/font-awesome/_shims.scss */
.fa.fa-reddit {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 888, ../../_sass/font-awesome/_shims.scss */
.fa.fa-reddit-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 893, ../../_sass/font-awesome/_shims.scss */
.fa.fa-stumbleupon-circle {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 898, ../../_sass/font-awesome/_shims.scss */
.fa.fa-stumbleupon {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 903, ../../_sass/font-awesome/_shims.scss */
.fa.fa-delicious {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 908, ../../_sass/font-awesome/_shims.scss */
.fa.fa-digg {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 913, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pied-piper-pp {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 918, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pied-piper-alt {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 923, ../../_sass/font-awesome/_shims.scss */
.fa.fa-drupal {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 928, ../../_sass/font-awesome/_shims.scss */
.fa.fa-joomla {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 933, ../../_sass/font-awesome/_shims.scss */
.fa.fa-spoon:before {
  content: "\f2e5";
}

/* line 935, ../../_sass/font-awesome/_shims.scss */
.fa.fa-behance {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 940, ../../_sass/font-awesome/_shims.scss */
.fa.fa-behance-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 945, ../../_sass/font-awesome/_shims.scss */
.fa.fa-steam {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 950, ../../_sass/font-awesome/_shims.scss */
.fa.fa-steam-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 955, ../../_sass/font-awesome/_shims.scss */
.fa.fa-automobile:before {
  content: "\f1b9";
}

/* line 957, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cab:before {
  content: "\f1ba";
}

/* line 959, ../../_sass/font-awesome/_shims.scss */
.fa.fa-envelope-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 963, ../../_sass/font-awesome/_shims.scss */
.fa.fa-envelope-o:before {
  content: "\f0e0";
}

/* line 965, ../../_sass/font-awesome/_shims.scss */
.fa.fa-deviantart {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 970, ../../_sass/font-awesome/_shims.scss */
.fa.fa-soundcloud {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 975, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-pdf-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 979, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-pdf-o:before {
  content: "\f1c1";
}

/* line 981, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-word-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 985, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-word-o:before {
  content: "\f1c2";
}

/* line 987, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-excel-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 991, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-excel-o:before {
  content: "\f1c3";
}

/* line 993, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-powerpoint-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 997, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-powerpoint-o:before {
  content: "\f1c4";
}

/* line 999, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-image-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1003, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-image-o:before {
  content: "\f1c5";
}

/* line 1005, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-photo-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1009, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-photo-o:before {
  content: "\f1c5";
}

/* line 1011, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-picture-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1015, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-picture-o:before {
  content: "\f1c5";
}

/* line 1017, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-archive-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1021, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-archive-o:before {
  content: "\f1c6";
}

/* line 1023, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-zip-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1027, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-zip-o:before {
  content: "\f1c6";
}

/* line 1029, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-audio-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1033, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-audio-o:before {
  content: "\f1c7";
}

/* line 1035, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-sound-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1039, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-sound-o:before {
  content: "\f1c7";
}

/* line 1041, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-video-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1045, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-video-o:before {
  content: "\f1c8";
}

/* line 1047, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-movie-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1051, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-movie-o:before {
  content: "\f1c8";
}

/* line 1053, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-code-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1057, ../../_sass/font-awesome/_shims.scss */
.fa.fa-file-code-o:before {
  content: "\f1c9";
}

/* line 1059, ../../_sass/font-awesome/_shims.scss */
.fa.fa-vine {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1064, ../../_sass/font-awesome/_shims.scss */
.fa.fa-codepen {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1069, ../../_sass/font-awesome/_shims.scss */
.fa.fa-jsfiddle {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1074, ../../_sass/font-awesome/_shims.scss */
.fa.fa-life-ring {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1079, ../../_sass/font-awesome/_shims.scss */
.fa.fa-life-bouy {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1083, ../../_sass/font-awesome/_shims.scss */
.fa.fa-life-bouy:before {
  content: "\f1cd";
}

/* line 1085, ../../_sass/font-awesome/_shims.scss */
.fa.fa-life-buoy {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1089, ../../_sass/font-awesome/_shims.scss */
.fa.fa-life-buoy:before {
  content: "\f1cd";
}

/* line 1091, ../../_sass/font-awesome/_shims.scss */
.fa.fa-life-saver {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1095, ../../_sass/font-awesome/_shims.scss */
.fa.fa-life-saver:before {
  content: "\f1cd";
}

/* line 1097, ../../_sass/font-awesome/_shims.scss */
.fa.fa-support {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1101, ../../_sass/font-awesome/_shims.scss */
.fa.fa-support:before {
  content: "\f1cd";
}

/* line 1103, ../../_sass/font-awesome/_shims.scss */
.fa.fa-circle-o-notch:before {
  content: "\f1ce";
}

/* line 1105, ../../_sass/font-awesome/_shims.scss */
.fa.fa-rebel {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1110, ../../_sass/font-awesome/_shims.scss */
.fa.fa-ra {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1114, ../../_sass/font-awesome/_shims.scss */
.fa.fa-ra:before {
  content: "\f1d0";
}

/* line 1116, ../../_sass/font-awesome/_shims.scss */
.fa.fa-resistance {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1120, ../../_sass/font-awesome/_shims.scss */
.fa.fa-resistance:before {
  content: "\f1d0";
}

/* line 1122, ../../_sass/font-awesome/_shims.scss */
.fa.fa-empire {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1127, ../../_sass/font-awesome/_shims.scss */
.fa.fa-ge {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1131, ../../_sass/font-awesome/_shims.scss */
.fa.fa-ge:before {
  content: "\f1d1";
}

/* line 1133, ../../_sass/font-awesome/_shims.scss */
.fa.fa-git-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1138, ../../_sass/font-awesome/_shims.scss */
.fa.fa-git {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1143, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hacker-news {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1148, ../../_sass/font-awesome/_shims.scss */
.fa.fa-y-combinator-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1152, ../../_sass/font-awesome/_shims.scss */
.fa.fa-y-combinator-square:before {
  content: "\f1d4";
}

/* line 1154, ../../_sass/font-awesome/_shims.scss */
.fa.fa-yc-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1158, ../../_sass/font-awesome/_shims.scss */
.fa.fa-yc-square:before {
  content: "\f1d4";
}

/* line 1160, ../../_sass/font-awesome/_shims.scss */
.fa.fa-tencent-weibo {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1165, ../../_sass/font-awesome/_shims.scss */
.fa.fa-qq {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1170, ../../_sass/font-awesome/_shims.scss */
.fa.fa-weixin {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1175, ../../_sass/font-awesome/_shims.scss */
.fa.fa-wechat {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1179, ../../_sass/font-awesome/_shims.scss */
.fa.fa-wechat:before {
  content: "\f1d7";
}

/* line 1181, ../../_sass/font-awesome/_shims.scss */
.fa.fa-send:before {
  content: "\f1d8";
}

/* line 1183, ../../_sass/font-awesome/_shims.scss */
.fa.fa-paper-plane-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1187, ../../_sass/font-awesome/_shims.scss */
.fa.fa-paper-plane-o:before {
  content: "\f1d8";
}

/* line 1189, ../../_sass/font-awesome/_shims.scss */
.fa.fa-send-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1193, ../../_sass/font-awesome/_shims.scss */
.fa.fa-send-o:before {
  content: "\f1d8";
}

/* line 1195, ../../_sass/font-awesome/_shims.scss */
.fa.fa-circle-thin {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1199, ../../_sass/font-awesome/_shims.scss */
.fa.fa-circle-thin:before {
  content: "\f111";
}

/* line 1201, ../../_sass/font-awesome/_shims.scss */
.fa.fa-header:before {
  content: "\f1dc";
}

/* line 1203, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sliders:before {
  content: "\f1de";
}

/* line 1205, ../../_sass/font-awesome/_shims.scss */
.fa.fa-futbol-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1209, ../../_sass/font-awesome/_shims.scss */
.fa.fa-futbol-o:before {
  content: "\f1e3";
}

/* line 1211, ../../_sass/font-awesome/_shims.scss */
.fa.fa-soccer-ball-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1215, ../../_sass/font-awesome/_shims.scss */
.fa.fa-soccer-ball-o:before {
  content: "\f1e3";
}

/* line 1217, ../../_sass/font-awesome/_shims.scss */
.fa.fa-slideshare {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1222, ../../_sass/font-awesome/_shims.scss */
.fa.fa-twitch {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1227, ../../_sass/font-awesome/_shims.scss */
.fa.fa-yelp {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1232, ../../_sass/font-awesome/_shims.scss */
.fa.fa-newspaper-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1236, ../../_sass/font-awesome/_shims.scss */
.fa.fa-newspaper-o:before {
  content: "\f1ea";
}

/* line 1238, ../../_sass/font-awesome/_shims.scss */
.fa.fa-paypal {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1243, ../../_sass/font-awesome/_shims.scss */
.fa.fa-google-wallet {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1248, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cc-visa {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1253, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cc-mastercard {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1258, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cc-discover {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1263, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cc-amex {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1268, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cc-paypal {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1273, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cc-stripe {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1278, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bell-slash-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1282, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bell-slash-o:before {
  content: "\f1f6";
}

/* line 1284, ../../_sass/font-awesome/_shims.scss */
.fa.fa-trash:before {
  content: "\f2ed";
}

/* line 1286, ../../_sass/font-awesome/_shims.scss */
.fa.fa-copyright {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1291, ../../_sass/font-awesome/_shims.scss */
.fa.fa-eyedropper:before {
  content: "\f1fb";
}

/* line 1293, ../../_sass/font-awesome/_shims.scss */
.fa.fa-area-chart:before {
  content: "\f1fe";
}

/* line 1295, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pie-chart:before {
  content: "\f200";
}

/* line 1297, ../../_sass/font-awesome/_shims.scss */
.fa.fa-line-chart:before {
  content: "\f201";
}

/* line 1299, ../../_sass/font-awesome/_shims.scss */
.fa.fa-lastfm {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1304, ../../_sass/font-awesome/_shims.scss */
.fa.fa-lastfm-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1309, ../../_sass/font-awesome/_shims.scss */
.fa.fa-ioxhost {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1314, ../../_sass/font-awesome/_shims.scss */
.fa.fa-angellist {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1319, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cc {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1323, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cc:before {
  content: "\f20a";
}

/* line 1325, ../../_sass/font-awesome/_shims.scss */
.fa.fa-ils:before {
  content: "\f20b";
}

/* line 1327, ../../_sass/font-awesome/_shims.scss */
.fa.fa-shekel:before {
  content: "\f20b";
}

/* line 1329, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sheqel:before {
  content: "\f20b";
}

/* line 1331, ../../_sass/font-awesome/_shims.scss */
.fa.fa-meanpath {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1335, ../../_sass/font-awesome/_shims.scss */
.fa.fa-meanpath:before {
  content: "\f2b4";
}

/* line 1337, ../../_sass/font-awesome/_shims.scss */
.fa.fa-buysellads {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1342, ../../_sass/font-awesome/_shims.scss */
.fa.fa-connectdevelop {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1347, ../../_sass/font-awesome/_shims.scss */
.fa.fa-dashcube {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1352, ../../_sass/font-awesome/_shims.scss */
.fa.fa-forumbee {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1357, ../../_sass/font-awesome/_shims.scss */
.fa.fa-leanpub {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1362, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sellsy {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1367, ../../_sass/font-awesome/_shims.scss */
.fa.fa-shirtsinbulk {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1372, ../../_sass/font-awesome/_shims.scss */
.fa.fa-simplybuilt {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1377, ../../_sass/font-awesome/_shims.scss */
.fa.fa-skyatlas {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1382, ../../_sass/font-awesome/_shims.scss */
.fa.fa-diamond {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1386, ../../_sass/font-awesome/_shims.scss */
.fa.fa-diamond:before {
  content: "\f3a5";
}

/* line 1388, ../../_sass/font-awesome/_shims.scss */
.fa.fa-intersex:before {
  content: "\f224";
}

/* line 1390, ../../_sass/font-awesome/_shims.scss */
.fa.fa-facebook-official {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1394, ../../_sass/font-awesome/_shims.scss */
.fa.fa-facebook-official:before {
  content: "\f09a";
}

/* line 1396, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pinterest-p {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1401, ../../_sass/font-awesome/_shims.scss */
.fa.fa-whatsapp {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1406, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hotel:before {
  content: "\f236";
}

/* line 1408, ../../_sass/font-awesome/_shims.scss */
.fa.fa-viacoin {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1413, ../../_sass/font-awesome/_shims.scss */
.fa.fa-medium {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1418, ../../_sass/font-awesome/_shims.scss */
.fa.fa-y-combinator {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1423, ../../_sass/font-awesome/_shims.scss */
.fa.fa-yc {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1427, ../../_sass/font-awesome/_shims.scss */
.fa.fa-yc:before {
  content: "\f23b";
}

/* line 1429, ../../_sass/font-awesome/_shims.scss */
.fa.fa-optin-monster {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1434, ../../_sass/font-awesome/_shims.scss */
.fa.fa-opencart {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1439, ../../_sass/font-awesome/_shims.scss */
.fa.fa-expeditedssl {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1444, ../../_sass/font-awesome/_shims.scss */
.fa.fa-battery-4:before {
  content: "\f240";
}

/* line 1446, ../../_sass/font-awesome/_shims.scss */
.fa.fa-battery:before {
  content: "\f240";
}

/* line 1448, ../../_sass/font-awesome/_shims.scss */
.fa.fa-battery-3:before {
  content: "\f241";
}

/* line 1450, ../../_sass/font-awesome/_shims.scss */
.fa.fa-battery-2:before {
  content: "\f242";
}

/* line 1452, ../../_sass/font-awesome/_shims.scss */
.fa.fa-battery-1:before {
  content: "\f243";
}

/* line 1454, ../../_sass/font-awesome/_shims.scss */
.fa.fa-battery-0:before {
  content: "\f244";
}

/* line 1456, ../../_sass/font-awesome/_shims.scss */
.fa.fa-object-group {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1461, ../../_sass/font-awesome/_shims.scss */
.fa.fa-object-ungroup {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1466, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sticky-note-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1470, ../../_sass/font-awesome/_shims.scss */
.fa.fa-sticky-note-o:before {
  content: "\f249";
}

/* line 1472, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cc-jcb {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1477, ../../_sass/font-awesome/_shims.scss */
.fa.fa-cc-diners-club {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1482, ../../_sass/font-awesome/_shims.scss */
.fa.fa-clone {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1487, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hourglass-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1491, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hourglass-o:before {
  content: "\f254";
}

/* line 1493, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hourglass-1:before {
  content: "\f251";
}

/* line 1495, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hourglass-2:before {
  content: "\f252";
}

/* line 1497, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hourglass-3:before {
  content: "\f253";
}

/* line 1499, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-rock-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1503, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-rock-o:before {
  content: "\f255";
}

/* line 1505, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-grab-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1509, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-grab-o:before {
  content: "\f255";
}

/* line 1511, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-paper-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1515, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-paper-o:before {
  content: "\f256";
}

/* line 1517, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-stop-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1521, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-stop-o:before {
  content: "\f256";
}

/* line 1523, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-scissors-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1527, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-scissors-o:before {
  content: "\f257";
}

/* line 1529, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-lizard-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1533, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-lizard-o:before {
  content: "\f258";
}

/* line 1535, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-spock-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1539, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-spock-o:before {
  content: "\f259";
}

/* line 1541, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-pointer-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1545, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-pointer-o:before {
  content: "\f25a";
}

/* line 1547, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-peace-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1551, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hand-peace-o:before {
  content: "\f25b";
}

/* line 1553, ../../_sass/font-awesome/_shims.scss */
.fa.fa-registered {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1558, ../../_sass/font-awesome/_shims.scss */
.fa.fa-creative-commons {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1563, ../../_sass/font-awesome/_shims.scss */
.fa.fa-gg {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1568, ../../_sass/font-awesome/_shims.scss */
.fa.fa-gg-circle {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1573, ../../_sass/font-awesome/_shims.scss */
.fa.fa-tripadvisor {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1578, ../../_sass/font-awesome/_shims.scss */
.fa.fa-odnoklassniki {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1583, ../../_sass/font-awesome/_shims.scss */
.fa.fa-odnoklassniki-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1588, ../../_sass/font-awesome/_shims.scss */
.fa.fa-get-pocket {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1593, ../../_sass/font-awesome/_shims.scss */
.fa.fa-wikipedia-w {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1598, ../../_sass/font-awesome/_shims.scss */
.fa.fa-safari {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1603, ../../_sass/font-awesome/_shims.scss */
.fa.fa-chrome {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1608, ../../_sass/font-awesome/_shims.scss */
.fa.fa-firefox {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1613, ../../_sass/font-awesome/_shims.scss */
.fa.fa-opera {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1618, ../../_sass/font-awesome/_shims.scss */
.fa.fa-internet-explorer {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1623, ../../_sass/font-awesome/_shims.scss */
.fa.fa-television:before {
  content: "\f26c";
}

/* line 1625, ../../_sass/font-awesome/_shims.scss */
.fa.fa-contao {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1630, ../../_sass/font-awesome/_shims.scss */
.fa.fa-500px {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1635, ../../_sass/font-awesome/_shims.scss */
.fa.fa-amazon {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1640, ../../_sass/font-awesome/_shims.scss */
.fa.fa-calendar-plus-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1644, ../../_sass/font-awesome/_shims.scss */
.fa.fa-calendar-plus-o:before {
  content: "\f271";
}

/* line 1646, ../../_sass/font-awesome/_shims.scss */
.fa.fa-calendar-minus-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1650, ../../_sass/font-awesome/_shims.scss */
.fa.fa-calendar-minus-o:before {
  content: "\f272";
}

/* line 1652, ../../_sass/font-awesome/_shims.scss */
.fa.fa-calendar-times-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1656, ../../_sass/font-awesome/_shims.scss */
.fa.fa-calendar-times-o:before {
  content: "\f273";
}

/* line 1658, ../../_sass/font-awesome/_shims.scss */
.fa.fa-calendar-check-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1662, ../../_sass/font-awesome/_shims.scss */
.fa.fa-calendar-check-o:before {
  content: "\f274";
}

/* line 1664, ../../_sass/font-awesome/_shims.scss */
.fa.fa-map-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1668, ../../_sass/font-awesome/_shims.scss */
.fa.fa-map-o:before {
  content: "\f279";
}

/* line 1670, ../../_sass/font-awesome/_shims.scss */
.fa.fa-commenting {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1674, ../../_sass/font-awesome/_shims.scss */
.fa.fa-commenting:before {
  content: "\f4ad";
}

/* line 1676, ../../_sass/font-awesome/_shims.scss */
.fa.fa-commenting-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1680, ../../_sass/font-awesome/_shims.scss */
.fa.fa-commenting-o:before {
  content: "\f4ad";
}

/* line 1682, ../../_sass/font-awesome/_shims.scss */
.fa.fa-houzz {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1687, ../../_sass/font-awesome/_shims.scss */
.fa.fa-vimeo {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1691, ../../_sass/font-awesome/_shims.scss */
.fa.fa-vimeo:before {
  content: "\f27d";
}

/* line 1693, ../../_sass/font-awesome/_shims.scss */
.fa.fa-black-tie {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1698, ../../_sass/font-awesome/_shims.scss */
.fa.fa-fonticons {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1703, ../../_sass/font-awesome/_shims.scss */
.fa.fa-reddit-alien {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1708, ../../_sass/font-awesome/_shims.scss */
.fa.fa-edge {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1713, ../../_sass/font-awesome/_shims.scss */
.fa.fa-credit-card-alt:before {
  content: "\f09d";
}

/* line 1715, ../../_sass/font-awesome/_shims.scss */
.fa.fa-codiepie {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1720, ../../_sass/font-awesome/_shims.scss */
.fa.fa-modx {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1725, ../../_sass/font-awesome/_shims.scss */
.fa.fa-fort-awesome {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1730, ../../_sass/font-awesome/_shims.scss */
.fa.fa-usb {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1735, ../../_sass/font-awesome/_shims.scss */
.fa.fa-product-hunt {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1740, ../../_sass/font-awesome/_shims.scss */
.fa.fa-mixcloud {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1745, ../../_sass/font-awesome/_shims.scss */
.fa.fa-scribd {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1750, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pause-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1754, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pause-circle-o:before {
  content: "\f28b";
}

/* line 1756, ../../_sass/font-awesome/_shims.scss */
.fa.fa-stop-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1760, ../../_sass/font-awesome/_shims.scss */
.fa.fa-stop-circle-o:before {
  content: "\f28d";
}

/* line 1762, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bluetooth {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1767, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bluetooth-b {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1772, ../../_sass/font-awesome/_shims.scss */
.fa.fa-gitlab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1777, ../../_sass/font-awesome/_shims.scss */
.fa.fa-wpbeginner {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1782, ../../_sass/font-awesome/_shims.scss */
.fa.fa-wpforms {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1787, ../../_sass/font-awesome/_shims.scss */
.fa.fa-envira {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1792, ../../_sass/font-awesome/_shims.scss */
.fa.fa-wheelchair-alt {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1796, ../../_sass/font-awesome/_shims.scss */
.fa.fa-wheelchair-alt:before {
  content: "\f368";
}

/* line 1798, ../../_sass/font-awesome/_shims.scss */
.fa.fa-question-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1802, ../../_sass/font-awesome/_shims.scss */
.fa.fa-question-circle-o:before {
  content: "\f059";
}

/* line 1804, ../../_sass/font-awesome/_shims.scss */
.fa.fa-volume-control-phone:before {
  content: "\f2a0";
}

/* line 1806, ../../_sass/font-awesome/_shims.scss */
.fa.fa-asl-interpreting:before {
  content: "\f2a3";
}

/* line 1808, ../../_sass/font-awesome/_shims.scss */
.fa.fa-deafness:before {
  content: "\f2a4";
}

/* line 1810, ../../_sass/font-awesome/_shims.scss */
.fa.fa-hard-of-hearing:before {
  content: "\f2a4";
}

/* line 1812, ../../_sass/font-awesome/_shims.scss */
.fa.fa-glide {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1817, ../../_sass/font-awesome/_shims.scss */
.fa.fa-glide-g {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1822, ../../_sass/font-awesome/_shims.scss */
.fa.fa-signing:before {
  content: "\f2a7";
}

/* line 1824, ../../_sass/font-awesome/_shims.scss */
.fa.fa-viadeo {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1829, ../../_sass/font-awesome/_shims.scss */
.fa.fa-viadeo-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1834, ../../_sass/font-awesome/_shims.scss */
.fa.fa-snapchat {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1839, ../../_sass/font-awesome/_shims.scss */
.fa.fa-snapchat-ghost {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1844, ../../_sass/font-awesome/_shims.scss */
.fa.fa-snapchat-square {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1849, ../../_sass/font-awesome/_shims.scss */
.fa.fa-pied-piper {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1854, ../../_sass/font-awesome/_shims.scss */
.fa.fa-first-order {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1859, ../../_sass/font-awesome/_shims.scss */
.fa.fa-yoast {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1864, ../../_sass/font-awesome/_shims.scss */
.fa.fa-themeisle {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1869, ../../_sass/font-awesome/_shims.scss */
.fa.fa-google-plus-official {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1873, ../../_sass/font-awesome/_shims.scss */
.fa.fa-google-plus-official:before {
  content: "\f2b3";
}

/* line 1875, ../../_sass/font-awesome/_shims.scss */
.fa.fa-google-plus-circle {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1879, ../../_sass/font-awesome/_shims.scss */
.fa.fa-google-plus-circle:before {
  content: "\f2b3";
}

/* line 1881, ../../_sass/font-awesome/_shims.scss */
.fa.fa-font-awesome {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1886, ../../_sass/font-awesome/_shims.scss */
.fa.fa-fa {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1890, ../../_sass/font-awesome/_shims.scss */
.fa.fa-fa:before {
  content: "\f2b4";
}

/* line 1892, ../../_sass/font-awesome/_shims.scss */
.fa.fa-handshake-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1896, ../../_sass/font-awesome/_shims.scss */
.fa.fa-handshake-o:before {
  content: "\f2b5";
}

/* line 1898, ../../_sass/font-awesome/_shims.scss */
.fa.fa-envelope-open-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1902, ../../_sass/font-awesome/_shims.scss */
.fa.fa-envelope-open-o:before {
  content: "\f2b6";
}

/* line 1904, ../../_sass/font-awesome/_shims.scss */
.fa.fa-linode {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1909, ../../_sass/font-awesome/_shims.scss */
.fa.fa-address-book-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1913, ../../_sass/font-awesome/_shims.scss */
.fa.fa-address-book-o:before {
  content: "\f2b9";
}

/* line 1915, ../../_sass/font-awesome/_shims.scss */
.fa.fa-vcard:before {
  content: "\f2bb";
}

/* line 1917, ../../_sass/font-awesome/_shims.scss */
.fa.fa-address-card-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1921, ../../_sass/font-awesome/_shims.scss */
.fa.fa-address-card-o:before {
  content: "\f2bb";
}

/* line 1923, ../../_sass/font-awesome/_shims.scss */
.fa.fa-vcard-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1927, ../../_sass/font-awesome/_shims.scss */
.fa.fa-vcard-o:before {
  content: "\f2bb";
}

/* line 1929, ../../_sass/font-awesome/_shims.scss */
.fa.fa-user-circle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1933, ../../_sass/font-awesome/_shims.scss */
.fa.fa-user-circle-o:before {
  content: "\f2bd";
}

/* line 1935, ../../_sass/font-awesome/_shims.scss */
.fa.fa-user-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1939, ../../_sass/font-awesome/_shims.scss */
.fa.fa-user-o:before {
  content: "\f007";
}

/* line 1941, ../../_sass/font-awesome/_shims.scss */
.fa.fa-id-badge {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1946, ../../_sass/font-awesome/_shims.scss */
.fa.fa-drivers-license:before {
  content: "\f2c2";
}

/* line 1948, ../../_sass/font-awesome/_shims.scss */
.fa.fa-id-card-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1952, ../../_sass/font-awesome/_shims.scss */
.fa.fa-id-card-o:before {
  content: "\f2c2";
}

/* line 1954, ../../_sass/font-awesome/_shims.scss */
.fa.fa-drivers-license-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1958, ../../_sass/font-awesome/_shims.scss */
.fa.fa-drivers-license-o:before {
  content: "\f2c2";
}

/* line 1960, ../../_sass/font-awesome/_shims.scss */
.fa.fa-quora {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1965, ../../_sass/font-awesome/_shims.scss */
.fa.fa-free-code-camp {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1970, ../../_sass/font-awesome/_shims.scss */
.fa.fa-telegram {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 1975, ../../_sass/font-awesome/_shims.scss */
.fa.fa-thermometer-4:before {
  content: "\f2c7";
}

/* line 1977, ../../_sass/font-awesome/_shims.scss */
.fa.fa-thermometer:before {
  content: "\f2c7";
}

/* line 1979, ../../_sass/font-awesome/_shims.scss */
.fa.fa-thermometer-3:before {
  content: "\f2c8";
}

/* line 1981, ../../_sass/font-awesome/_shims.scss */
.fa.fa-thermometer-2:before {
  content: "\f2c9";
}

/* line 1983, ../../_sass/font-awesome/_shims.scss */
.fa.fa-thermometer-1:before {
  content: "\f2ca";
}

/* line 1985, ../../_sass/font-awesome/_shims.scss */
.fa.fa-thermometer-0:before {
  content: "\f2cb";
}

/* line 1987, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bathtub:before {
  content: "\f2cd";
}

/* line 1989, ../../_sass/font-awesome/_shims.scss */
.fa.fa-s15:before {
  content: "\f2cd";
}

/* line 1991, ../../_sass/font-awesome/_shims.scss */
.fa.fa-window-maximize {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 1996, ../../_sass/font-awesome/_shims.scss */
.fa.fa-window-restore {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 2001, ../../_sass/font-awesome/_shims.scss */
.fa.fa-times-rectangle:before {
  content: "\f410";
}

/* line 2003, ../../_sass/font-awesome/_shims.scss */
.fa.fa-window-close-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 2007, ../../_sass/font-awesome/_shims.scss */
.fa.fa-window-close-o:before {
  content: "\f410";
}

/* line 2009, ../../_sass/font-awesome/_shims.scss */
.fa.fa-times-rectangle-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 2013, ../../_sass/font-awesome/_shims.scss */
.fa.fa-times-rectangle-o:before {
  content: "\f410";
}

/* line 2015, ../../_sass/font-awesome/_shims.scss */
.fa.fa-bandcamp {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 2020, ../../_sass/font-awesome/_shims.scss */
.fa.fa-grav {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 2025, ../../_sass/font-awesome/_shims.scss */
.fa.fa-etsy {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 2030, ../../_sass/font-awesome/_shims.scss */
.fa.fa-imdb {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 2035, ../../_sass/font-awesome/_shims.scss */
.fa.fa-ravelry {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 2040, ../../_sass/font-awesome/_shims.scss */
.fa.fa-eercast {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 2044, ../../_sass/font-awesome/_shims.scss */
.fa.fa-eercast:before {
  content: "\f2da";
}

/* line 2046, ../../_sass/font-awesome/_shims.scss */
.fa.fa-snowflake-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

/* line 2050, ../../_sass/font-awesome/_shims.scss */
.fa.fa-snowflake-o:before {
  content: "\f2dc";
}

/* line 2052, ../../_sass/font-awesome/_shims.scss */
.fa.fa-superpowers {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 2057, ../../_sass/font-awesome/_shims.scss */
.fa.fa-wpexplorer {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}

/* line 2062, ../../_sass/font-awesome/_shims.scss */
.fa.fa-spotify {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
}
